<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/maintain/codeset.js}"></script>
</head>

<body data-ng-app="swkroaApp">
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-controller="CodeSetController as ctrl">
  <div class="page-header">
    <h3 th:text="#{maintain.codeset.title}">zzz Maintain Code Sets</h3>
  </div>
  <div class="container container-outline">
    <div class="row container-split">
      <div class="col-xs-5 pull-left clear-left clear-right">
        <div class="split-header divider-right">
          <div class="split-header-content">
            <label class="control-label" th:text="#{maintain.codeset.codesets}">zzz Code Sets</label>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <tr data-ng-repeat="codeSet in ctrl.codeSets"
              data-ng-click="ctrl.getCodeValues(codeSet)"
              data-ng-class="{active: codeSet.codeSetUID == ctrl.selectedCodeSet.codeSetUID}">
            <td data-ng-bind="codeSet.display"></td>
          </tr>
        </table>
      </div>
      <div class="col-xs-7 pull-right clear-left clear-right">
        <div class="split-header divider-bottom">
          <div class="split-header-content">
            <label class="control-label" th:text="#{maintain.codeset.codevalues}">zzz Coded Values</label>
          </div>
        </div>
        <div class="list-group">
          <div data-ng-show="!ctrl.codeValues.length">
            <em>
              <label class="panel-body text-muted text-center" th:text="#{maintain.notselected}">
                zzz No records found!
              </label>
            </em>
          </div>
          <div data-ng-show="ctrl.codeValues.length">
            <table class="table table-bordered table-hover table-inner">
              <thead>
              <tr>
                <th th:text="#{common.disp}" style="width:36%">zzz Display</th>
                <th th:text="#{common.mean}" style="width:36%">zzz Meaning</th>
                <th style="width: 24%">
                  <a href="#" class="btn btn-success btn-xs hover-reveal pull-right" data-ng-click="ctrl.addCodeValue()">
                    <i class="fa fa-plus"></i>
                    <span th:text="#{maintain.codeset.codevalue.add}">zzz Add</span>
                  </a>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="hover-buttons"
                  data-ng-repeat="codeValue in ctrl.codeValues"
                  data-ng-show="codeValue.active">
                <td>
                  <span data-editable-text="codeValue.display"
                        data-e-name="display"
                        data-e-form="rowform"
                        onbeforesave="ctrl.validate($data)"
                        data-ng-bind="codeValue.display">
                  </span>
                </td>
                <td>
                  <span data-editable-text="codeValue.meaning"
                        data-e-name="meaning"
                        data-e-form="rowform"
                        data-ng-bind="codeValue.meaning">
                  </span>
                </td>
                <td>
                  <form name="rowform"
                        class="form-buttons form-inline"
                        data-editable-form
                        data-ng-show="rowform.$visible"
                        data-shown="ctrl.inserted == codeValue"
                        onaftersave="ctrl.saveCodeValue(codeValue)">
                    <div class="form-group btn-group pull-right">
                      <button type="submit" class="btn btn-success btn-xs" data-ng-disabled="rowform.$waiting">
                        <i class="fa fa-save"></i>
                        <span th:text="#{common.save}">zzz Save</span>
                      </button>
                      <a href="#" class="btn btn-xs btn-cancel" data-ng-disabled="rowform.$waiting"
                         data-ng-click="rowform.$cancel()">
                        <i class="fa fa-ban"></i>
                        <span th:text="#{common.cancel}">zzz Cancel</span>
                      </a>
                    </div>
                  </form>
                  <div class="btn-group pull-right" data-ng-show="!rowform.$visible">
                    <button type="button" class="btn btn-primary btn-xs" data-ng-click="rowform.$show()">
                      <i class="fa fa-edit"></i>
                      <span th:text="#{common.edit}">z_Edit</span>
                    </button>
                    <button type="button" class="btn btn-danger btn-xs"
                            data-ng-click="ctrl.selectedCodeValue(codeValue)"
                            data-toggle="modal" data-target="#confirmDeletion">
                      <i class="fa fa-trash-o"></i>
                      <span th:text="#{common.delete}">z_Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="confirmDeletion" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{maintain.codeset.codevalue.delete.title}">zzz Please confirm</h4>
        </div>
        <div class="modal-body">
          <span th:text="#{maintain.codeset.codevalue.delete.message}">zzz Delete this?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  th:text="#{common.delete}"
                  data-ng-click="ctrl.removeCodeValue()">
            z_Delete
          </button>
          <button type="button" class="btn btn-primary"
                  th:text="#{common.keep}"
                  data-dismiss="modal">
            z_Keep
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>