<div class="spacer-top">
  <div class="divider-inner-header sub-header">
    <span>COMMENTS</span>
      <span class="pull-right">
        <button type="button" class="btn btn-success btn-xs"
                data-toggle="modal" data-target="#modifyComment"
                data-ng-click="addComment()"
                data-tooltip="Create Comment"
                data-tooltip-placement="left">
          <i class="fa fa-plus"></i>
        </button>
      </span>
  </div>

  <table class="table table-hover table-bordered">
    <tr data-ng-repeat="comment in share.membership.comments | orderBy : 'commentDate' : true"
        data-ng-show="comment.active">
      <td style="width:100px">{{comment.commentDate | date:'mediumDate'}}</td>
      <td class="comment-text">{{comment.commentText}}</td>
      <td style="width:75px">
        <div class="pull-right">
          <button type="button" class="btn btn-primary btn-xs"
                  data-toggle="modal" data-target="#modifyComment"
                  data-ng-click="selectComment(comment)"
                  data-tooltip="Update Comment"
                  data-tooltip-placement="left">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-danger btn-xs"
                  data-toggle="modal" data-target="#deleteComment"
                  data-ng-click="selectComment(comment)"
                  data-tooltip="Delete Comment"
                  data-tooltip-placement="left">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade" id="modifyComment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" data-ng-show="commentIdx > -1">Update Comment</h4>
        <h4 class="modal-title" data-ng-show="commentIdx == -1">Create Comment</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="form-label">Enter Date of Comment</label>
          <div class="input-group">
            <input type="text" class="form-control" name="commentDate"
                   data-datepicker-popup="MM/dd/yyyy"
                   data-is-open="opened"
                   data-show-button-bar="false"
                   data-show-weeks="false"
                   data-ng-model="comment.commentDate" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="open($event)">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <p>Enter Comment:</p>
        <textarea class="form-control" rows="3" data-ng-model="comment.commentText" autofocus></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-ng-click="saveComment()" data-ng-show="commentIdx > -1">
          Update
        </button>
        <button type="button" class="btn btn-success" data-ng-click="saveComment()" data-ng-show="commentIdx == -1">
          Create
        </button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          Discard
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteComment" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Comment</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this comment?</p>
        <blockquote>
          <p class="comment-text">{{comment.commentText}}</p>
        </blockquote>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-ng-click="removeComment()">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
      </div>
    </div>
  </div>
</div>
