<div class="spacer-top">
  <div class="divider-inner-header sub-header">
    <span>TRANSACTIONS</span>
      <span class="pull-right">
        <button type="button" class="btn btn-success btn-xs"
                data-toggle="modal" data-target="#modifyTransaction"
                data-ng-click="addTransaction()"
                data-tooltip="Create Transaction"
                data-tooltip-placement="left">
          <i class="fa fa-plus"></i>
        </button>
      </span>
  </div>

  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th style="width:150px">Transaction Date</th>
        <th>Type</th>
        <th>Description</th>
        <th style="width:100px">Amount</th>
        <th style="width:75px"></th>
      </tr>
    </thead>
    <tbody data-ng-repeat="transaction in share.membership.transactions | orderBy: 'transactionDate': true"
           data-ng-show="transaction.active">
      <tr>
        <td style="width:150px">
          <div>
            <a href="#" onclick="toggleTransactionDetails(this)">
              <i class="fa fa-plus fa-fw"></i>
            </a>
            {{transaction.transactionDate | date:'mediumDate'}}
          </div>
        </td>
        <td>
          <span data-ng-show="transaction.transactionType == 'INVOICE'">Invoice</span>
          <span data-ng-show="transaction.transactionType == 'PAYMENT'">Payment</span>
        </td>
        <td>{{transaction.transactionDescription}}</td>
        <td style="width:100px">
          <div class="pull-right">
            {{transaction.transactionAmount | currency}}
          </div>
        </td>
        <td style="width:75px">
          <div class="pull-right">
            <button type="button" class="btn btn-primary btn-xs"
                    data-ng-click="editTransaction(transaction)"
                    data-tooltip="Update Transaction"
                    data-tooltip-placement="left">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-xs"
                    data-toggle="modal" data-target="#deleteTransaction"
                    data-ng-click="deleteTransaction(transaction)"
                    data-tooltip="Delete Transaction"
                    data-tooltip-placement="left">
              <i class="fa fa-trash-o"></i>
            </button>
          </div>
        </td>
      </tr>
      <tr class="details hide" data-ng-repeat="entry in transaction.transactionEntries">
        <td></td>
        <td colspan="2">{{entry.transactionEntryType.display}}</td>
        <td style="width:100px">
          <div class="pull-right">
            {{entry.transactionEntryAmount | currency}}
          </div>
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
