<div data-ng-show="!share.membership">
  <em>
    <label class="panel-body text-muted text-center">
      Select a membership to view its details.
    </label>
  </em>
</div>
<div data-ng-show="share.membership">
  <div class="container-inner constrain-view">
    <h2 class="lead">
      <span data-ng-bind="share.membership.primaryMember.effectiveMemberName"></span>
      <small data-ng-show="share.membership.primaryMember.joinDate">
        Since {{share.membership.primaryMember.joinDate | date:'longDate'}}
      </small>
    </h2>
    <div>
      <div>
        <div class="text-muted divider-bottom">
          MEMBERS
        </div>
        <div data-ng-show="share.membership.primaryMember">
          <span>
            <strong data-ng-bind="share.membership.primaryMember.effectiveMemberName"></strong>
          </span>
          <small class="text-muted">({{share.membership.primaryMember.ownerIdent}})</small>
          <small class="text-muted" data-ng-show="share.membership.primaryMember.joinDate">
            Since {{share.membership.primaryMember.joinDate | date:'longDate'}}
          </small>
        </div>
        <div data-ng-repeat="member in share.membership.members"
             data-ng-show="member.memberType.primary === false">
          <span>{{member.effectiveMemberName}}</span>
          <small class="text-muted">({{member.ownerIdent}})</small>
          <small class="text-muted" data-ng-show="member.joinDate">
            Since {{member.joinDate | date:'longDate'}}
          </small>
        </div>
      </div>

      <div class="spacer-top">
        <div class="text-muted divider-bottom">COUNTIES</div>
        <div data-ng-repeat="membershipCounty in share.membership.membershipCounties">
          <span data-ng-class="{text_bold: membershipCounty.votingCounty === true}">
            {{membershipCounty.county.countyName}}
            <small class="text-muted text_normal"> / {{membershipCounty.surfaceAcres}} Surface Acres and {{membershipCounty.netMineralAcres}} Mineral Acres</small>
          </span>
        </div>
      </div>

      <div data-ng-include="'/partials/membership/detail_comments.html'"></div>
      <div data-ng-include="'/partials/membership/detail_transactions.html'"></div>
    </div>
  </div>

  <div class="divider-top split-footer">
    <div class="split-footer-content pull-right">
      <a class="btn btn-primary btn-xs"
         data-ng-href="../membership/edit/{{share.membership.membershipUID}}">
        <i class="fa fa-edit"></i>
        <span>Edit</span>
      </a>
      <button type="button" class="btn btn-danger btn-xs"
              data-toggle="modal" data-target="#deleteMembership">
        <i class="fa fa-trash-o"></i>
        <span>Delete</span>
      </button>
    </div>
  </div>

  <div class="modal fade" id="deleteMembership" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Comment</h4>
        </div>
        <div class="modal-body">
          <span data-th-text="#{com.cagst.swkroa.membership.delete.message}">zzz Delete this?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-ng-click="removeMembership()">Delete</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">Keep</button>
        </div>
      </div>
    </div>
  </div>

  <div data-th-include="membership/list/dlg_transaction_modify"></div>
  <div data-th-include="membership/list/dlg_transaction_delete"></div>
</div>
