<div class="page-header">
  <h3 data-ng-show="share.membership.membershipUID == 0">Add Membership</h3>
  <input id="membershipId" type="hidden" data-th-value="${membershipId}" />
  <h3 data-ng-show="share.membership.membershipUID > 0">Edit Membership</h3>
</div>

<form method="POST" name="membershipForm" novalidate data-ng-submit="save()" class="css-form">
  <div data-ng-include="'/partials/membership/modify/membership.html'"></div>
  <div data-th-include="membership/modify/section_counties"></div>
  <div data-th-include="membership/modify/section_members"
       data-ng-show="membership.primaryMember.memberType.allowMember ||
                     membership.additionalMembers.length > 0"></div>

  <div class="spacer-top">
    <div class="divider-top">
      <div class="spacer-top">
        <button type="submit" class="btn btn-primary"
                data-ng-show="share.membership.membershipUID == 0"
                data-ng-disabled="hasChanges(share.membership) || membershipForm.$invalid">
          Create Membership
        </button>
        <button type="submit" class="btn btn-primary"
                data-ng-show="share.membership.membershipUID > 0"
                data-ng-disabled="hasChanges(share.membership) || membershipForm.$invalid">
          Update Membership
        </button>
        <a class="btn btn-default" data-ui-sref="home">
          Cancel
        </a>
      </div>
    </div>
  </div>
</form>
