<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-2">
        <select class="form-control"
                data-ng-model="share.membership.primaryMember.memberType"
                data-ng-options="type.memberTypeDisplay for type in memberTypes | filter:{primary:!false}">
        </select>
      </div>
      <div class="col-xs-10">
        <span class="pull-right"
              data-ng-show="share.membership.primaryMember.memberType.allowSpouse || share.membership.spouse">
          <button type="button" class="btn btn-success btn-xs hover-reveal"
                  data-ng-show="!share.membership.spouse || !share.membership.spouse.active"
                  data-ng-click="addSpouse()">
            <i class="fa fa-plus"></i>
            <span>Add Spouse</span>
          </button>
          <button type="button" class="btn btn-danger btn-xs hover-reveal"
                  data-ng-show="share.membership.spouse && share.membership.spouse.active"
                  data-ng-click="removeSpouse()">
            <i class="fa fa-trash-o"></i>
            <span>Remove Spouse</span>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div data-ng-include="'/partials/membership/modify/primary_member.html'"></div>
    <div data-th-include="membership/modify/section_primary_spouse"
         data-ng-show="membership.primarySpouse && membership.primarySpouse.active"></div>
    <div data-th-include="membership/modify/section_primary_contact"></div>
  </div>
</div>
