<div class="row row-inner">
  <div class="page-header">
    <h3>Maintain Users</h3>

    <div id="successMessage" class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Success!</strong>
      <div data-ng-bind="share.successMessage">User was created!</div>
    </div>
  </div>

  <div class="container-outline">
    <div class="row row-inner">
      <div class="col-xs-5 stretch">
        <div data-ui-view="list"/>
      </div>
      <div class="col-xs-7 divider-left stretch pull-right">
        <div data-ui-view="detail"/>
      </div>
    </div>
  </div>
</div>
