<div data-ng-show="!selectedUser">
  <em>
    <label class="panel-body text-muted text-center">
      Select a user to view their details.
    </label>
  </em>
</div>
<div data-ng-show="selectedUser">
  <div class="container-inner constrain-view">
    <div class="pull-left">
      <h2 class="lead">
        {{selectedUser.fullName}}
        <small class="text-muted">
          ({{selectedUser.username}})
        </small>
      </h2>
      <div>
        <span>Last signed in:</span>
        <span data-ng-bind="selectedUser.lastSigninDate | date:'medium'" />
      </div>
    </div>
    <div class="container-small container-outline container-inner pull-right">
      <div class="text_bold">Account Status</div>
      <div class="indent-left"
           data-ng-show="selectedUser.accountNonExpired == false">
        Expired
      </div>
      <div class="indent-left"
           data-ng-show="selectedUser.accountNonLocked == false">
        Locked
      </div>
      <div class="indent-left"
           data-ng-show="selectedUser.enabled == false">
        Disabled
      </div>
      <div class="indent-left"
           data-ng-show="selectedUser.enabled == true && selectedUser.accountNonExpired == true && selectedUser.accountNonLocked == true">
        Enabled
      </div>
    </div>
  </div>

  <div class="divider-top split-footer">
    <div class="split-footer-content pull-left">
      <button type="button" class="btn btn-warning btn-xs"
              data-ng-click="unlockUser()"
              data-ng-show="selectedUser.accountNonLocked == false">
        <i class="fa fa-unlock"></i>
        <span>Unlock User</span>
      </button>
      <button type="button" class="btn btn-warning btn-xs"
              data-ng-click="enableUser()"
              data-ng-show="selectedUser.enabled == false">
        <span>Enable User</span>
      </button>
      <button type="button" class="btn btn-warning btn-xs"
              data-ng-click="disableUser()"
              data-ng-show="selectedUser.enabled == true && selectedUser.accountNonLocked == true">
        <i class="fa fa-ban"></i>
        <span>Disable User</span>
      </button>
    </div>
    <div class="split-footer-content pull-right">
      <a class="btn btn-primary btn-xs" ui-sref="edit">
        <i class="fa fa-edit"></i>
        <span>Edit User</span>
      </a>
    </div>
  </div>
</div>
