<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <script type="text/javascript" data-th-src="@{/static/js/profile.js}"></script>
</head>

<body>

<div class="row row-inner" data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="profileController">
  <div class="page-header">
    <h3>User Profile</h3>

    <div id="successMessage" class="alert alert-success alert-dismissible" role="alert" data-ng-show="share.successMessage">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
      </button>
      <strong>Success!</strong>
      <div data-ng-bind="share.successMessage">User was updated!</div>
    </div>
  </div>

  <div class="container-inner">
    <h2 class="clear-bottom">
      <span data-ng-bind="share.user.fullName"></span>
      <small class="text-muted">({{share.user.username}})</small>
    </h2>

    <div data-ng-show="share.user.addresses.length > 0">
      <h4 class="divider-bottom">Addresses</h4>
      <div data-ng-repeat="address in share.user.addresses" class="row">
        <div class="col-xs-2">
          <strong data-ng-bind="contactService.getAddressTypeDisplay(address, addressTypes)"></strong>
        </div>
        <div class="col-xs-4">
          <div data-ng-bind="address.addressLine1"></div>
          <div data-ng-bind="address.addressLine2"></div>
          <div data-ng-bind="address.addressLine3"></div>
          <div>
            {{address.city}}, {{address.state}} {{address.postalCode | zip}}
          </div>
        </div>
      </div>
    </div>

    <div data-ng-show="share.user.phoneNumbers.length > 0">
      <h4 class="divider-bottom">Phone Numbers</h4>
      <div data-ng-repeat="phone in share.user.phoneNumbers" class="row">
        <div class="col-xs-2">
          <strong data-ng-bind="contactService.getPhoneTypeDisplay(phone, phoneTypes)" />
        </div>
        <div class="col-xs=4">
          <span>
            {{phone.phoneNumber | tel}}
          </span>
          <span data-ng-show="phone.phoneExtension">
            Ext. {{phone.phoneExtension}}
          </span>
        </div>
      </div>
    </div>

    <div data-ng-show="share.user.emailAddresses.length > 0">
      <h4 class="divider-bottom">Email Addresses</h4>
      <div data-ng-repeat="email in share.user.emailAddresses" class="row">
        <div class="col-xs-2">
          <strong data-ng-bind="contactService.getEmailTypeDisplay(email, emailTypes)" />
        </div>
        <div class="col-xs=4">
          <span data-ng-bind="email.emailAddress"/>
        </div>
      </div>
    </div>
  </div>

  <div class="divider-top split-footer">
    <div class="split-footer-content pull-right">
      <a class="btn btn-primary btn-xs" ui-sref="edit">
        <i class="fa fa-edit"></i>
        <span>Edit User</span>
      </a>
    </div>
  </div>

</div>

</body>
</html>
