<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title layout:title-pattern="$DECORATOR_TITLE" th:text="#{com.cagst.swkroa.title}">zzz SWKROA</title>

  <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/static/css/cagst.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/static/css/swkroa.css}" rel="stylesheet" />
</head>
<body>

<div id="page-header">
  <span id="page-title">
    <a th:href="@{/}" href="#">
      <img src="/static/images/swkroa_logo_small.jpg" th:src="@{/static/images/swkroa_logo_small.jpg}" />
    </a>
  </span>
  <ul id="account-navigation">
    <li>
      <a href="#" th:text="#{com.cagst.swkroa.header.help}">
        zzz Help
      </a>
    </li>
  </ul>
</div>

<div id="page-navigation" class="navbar navbar-inverse">
  <div class="navbar-collapse">
    <span class="navbar-brand pull-right">
      <a href="#" th:text="#{com.cagst.brand.title}">zzz CAGST</a>
    </span>
  </div>
</div>

<div id="page-content">
  <div layout:fragment="content">
    <h1>zzzPage content goes here!</h1>
  </div>
</div>

</body>
</html>
