<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!--
      <meta http-equiv="refresh" content="<%=session.getMaxInactiveInterval() - 5%>; url=<cagst:static key='url.auth.timedout' />" />
  -->

  <title layout:title-pattern="$DECORATOR_TITLE" th:text="#{com.cagst.swkroa.title}">zzz SWKROA</title>

  <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css}" rel="stylesheet" />

  <!-- Needed for select2 with bootstrap and angularjs
  <link type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2-bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.css}" rel="stylesheet" />
  -->

  <link type="text/css" th:href="@{/static/css/swkroa.css}" rel="stylesheet" />

  <!-- JQuery Support -->
  <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js}"></script>

  <!-- Angular Support -->
  <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js}"></script>
  <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js}"></script>

  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js}"></script>
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js}"></script>
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js}"></script>

  <script type="text/javascript" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js}"></script>

  <!-- Needed for select2 with bootstrap and angularjs
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/select2/3.4.8/select2.min.js}"></script>
  <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js}"></script>
  -->

  <script type="text/javascript" th:src="@{/static/js/swkroa.js}"></script>

</head>

<body>
<div id="page-header">
  <span id="page-title">
    <a th:href="@{/}" href="#">
      <img src="/static/images/swkroa_logo_small.jpg" th:src="@{/static/images/swkroa_logo_small.jpg}" />
    </a>
  </span>
  <ul id="account-navigation">
    <li>
      <span th:text="#{com.cagst.swkroa.header.welcome}">zzz Welcome</span>
      <a th:href="@{/profile}" th:text="${#authentication.principal.firstName}">
        zzz Profile
      </a>
    </li>
    <li>
      <a href="/logout" th:href="@{/logout}" th:text="#{com.cagst.swkroa.header.signout}">
        zzz Sign Out
      </a>
    </li>
    <li>
      <a href="#" th:text="#{com.cagst.swkroa.header.help}">
        zzz Help
      </a>
    </li>
  </ul>
</div>

<div id="page-navigation" class="navbar navbar-inverse">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="#" th:href="@{/}" th:text="#{com.cagst.swkroa.nav.home}">
          zzz Home
        </a>
      </li>
      <li>
        <a th:href="@{/memberships}"
           th:text="#{com.cagst.swkroa.nav.membership}">
          zzz Memberships
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span th:text="#{com.cagst.swkroa.nav.accounting}">zzz Accounting</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a th:href="@{/accounting/invoices}"
               th:text="#{com.cagst.swkroa.accounting.menu.invoices}">
              zzz Invoices
            </a>
          </li>
          <li>
            <a th:href="@{/accounting/payments}"
               th:text="#{com.cagst.swkroa.accounting.menu.payments}">
              zzz Invoices
            </a>
          </li>
          <li>
            <a th:href="@{/accounting/delinquencies}"
               th:text="#{com.cagst.swkroa.accounting.menu.delinquencies}">
              zzz Delinquencies
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span th:text="#{com.cagst.swkroa.nav.reports}">zzz Reports</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a th:href="@{/report/membership/listing}"
               th:text="#{com.cagst.swkroa.report.membership.listing.title}">
              zzz Membership Listing
            </a>
          </li>
          <li>
            <a th:href="@{/report/membership/status}"
               th:text="#{com.cagst.swkroa.report.membership.status.title}">
              zzz Membership Past Due
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a th:href="@{/report/member/mailinglist}"
               th:text="#{com.cagst.swkroa.report.member.mailinglist.title}">
              zzz Member Mailing List
            </a>
          </li>
          <li>
            <a th:href="@{/report/member/emaillist}"
               th:text="#{com.cagst.swkroa.report.member.emaillist.title}">
              zzz Member Email List
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a th:href="@{/report/custom/membersbycounty}">
              Members by County
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span th:text="#{com.cagst.swkroa.nav.maintain}">zzz Maintain</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a th:href="@{/maintain/codeset}" th:text="#{com.cagst.swkroa.maintain.menu.codeset}">
              zzz Code Sets
            </a>
          </li>
          <li>
            <a th:href="@{/maintain/documents}" th:text="#{com.cagst.swkroa.maintain.menu.documents}">
              zzz Documents
            </a>
          </li>
          <li>
            <a th:href="@{/maintain/membertype}" th:text="#{com.cagst.swkroa.maintain.menu.membertype}">
              zzz Member Type
            </a>
          </li>
          <li>
            <a th:href="@{/maintain/users}" th:text="#{com.cagst.swkroa.maintain.menu.user}">
              zzz Users
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <span class="navbar-brand pull-right">
      <a href="#" th:text="#{com.cagst.brand.title}">zzz CAGST</a>
    </span>
  </div>
</div>

<div id="page-content">
  <div data-layout-fragment="content">
    <h1>zzzPage content goes here!</h1>
  </div>
</div>

<!-- Locking Error Dialog -->
<div class="modal fade" id="optimisticErrorMessageDlg" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" th:text="#{com.cagst.swkroa.save.failed.caption}">zzz Optimistic</h4>
      </div>
      <div class="modal-body">
        <div th:text="#{com.cagst.swkroa.save.failed.message.optimistic}">zzz Update Failed?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal"
                th:text="#{com.cagst.swkroa.ok}">
          zzz Keep
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Unknown Error Dialog -->
<div class="modal fade" id="unknownErrorMessageDlg" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" th:text="#{com.cagst.swkroa.unknown.failure.caption}">zzz Unknown</h4>
      </div>
      <div class="modal-body">
        <div th:text="#{com.cagst.swkroa.unknown.failure.message.unknown}">zzz Update Failed?</div>
        <br/>
        <div id="unknownErrorMessage"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal"
                th:text="#{com.cagst.swkroa.ok}">
          zzz Keep
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Processing Dialog -->
<div class="modal fade" id="pleaseWaitDlg" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" th:text="#{com.cagst.swkroa.processing}">zzz Processing</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" style="width: 100%">
            <div class="bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
//  $('select').select2();
//  $('.date-picker').datetimePicker();
$(function () {
  var pickers = $('.date-time-picker');
  $.each(pickers, function(idx, val) {
    $(val).datetimepicker({
      format: 'L'
    });
  });
});

</script>

</body>
</html>
