<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!--
      <meta http-equiv="refresh" content="<%=session.getMaxInactiveInterval() - 5%>; url=<cagst:static key='url.auth.timedout' />" />
  -->

  <title layout:title-pattern="$DECORATOR_TITLE" data-th-text="#{com.cagst.swkroa.title}">zzz SWKROA</title>

  <link type="text/css" data-th-href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" data-th-href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css}" rel="stylesheet" />
  <link type="text/css" data-th-href="@{/static/angular-xeditable-0.1.8/css/xeditable.css}" rel="stylesheet" />
  <link type="text/css" data-th-href="@{/static/css/cagst.css}" rel="stylesheet" />
  <link type="text/css" data-th-href="@{/static/css/swkroa.css}" rel="stylesheet" />

  <script type="text/javascript" data-th-src="@{//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js}"></script>
  <script type="text/javascript" data-th-src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js}"></script>
  <script type="text/javascript" data-th-src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js}"></script>

  <script type="text/javascript" data-th-src="@{/static/ui-utils-0.1.1/ui-utils.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/static/angular-xeditable-0.1.8/js/xeditable.min.js}"></script>
  <script type="text/javascript" data-th-src="@{/static/js/swkroa.js}"></script>
</head>

<body>
<div id="page-header">
  <span id="page-title">
    <a data-th-href="@{/}" href="#">
      <img src="static/images/swkroa_logo_small.jpg" data-th-src="@{/static/images/swkroa_logo_small.jpg}" />
    </a>
  </span>
  <ul id="account-navigation">
    <li>
      <span data-th-text="#{com.cagst.swkroa.header.welcome}">zzz Welcome</span>
      <a data-th-href="@{/profile}" data-th-text="${#authentication.principal.firstName}">
        zzz Profile
      </a>
    </li>
    <li>
      <a data-th-href="@{/j_spring_security_logout}" data-th-text="#{com.cagst.swkroa.header.signout}">
        zzz Sign Out
      </a>
    </li>
    <li>
      <a href="#" data-th-text="#{com.cagst.swkroa.header.help}">
        zzz Help
      </a>
    </li>
  </ul>
</div>

<div id="page-navigation" class="navbar navbar-inverse">
  <div class="navbar-collapse">
    <ul class="nav navbar-nav">
      <li>
        <a href="#" data-th-href="@{/}" data-th-text="#{com.cagst.swkroa.nav.home}">
          zzz Home
        </a>
      </li>
      <li>
        <a data-th-href="@{/memberships}"
           data-th-text="#{com.cagst.swkroa.nav.membership}">
          zzz Memberships
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span data-th-text="#{com.cagst.swkroa.nav.accounting}">zzz Accounting</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a data-th-href="@{/accounting/delinquencies}"
               data-th-text="#{com.cagst.swkroa.accounting.menu.delinquencies}">
              zzz Delinquencies
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span data-th-text="#{com.cagst.swkroa.nav.reports}">zzz Reports</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a data-th-href="@{/report/membership/listing}"
               data-th-text="#{com.cagst.swkroa.report.membership.listing.title}">
              zzz Membership Listing
            </a>
          </li>
          <li>
            <a data-th-href="@{/report/membership/status}"
               data-th-text="#{com.cagst.swkroa.report.membership.status.title}">
              zzz Membership Past Due
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a data-th-href="@{/report/member/mailinglist}"
               data-th-text="#{com.cagst.swkroa.report.member.mailinglist.title}">
              zzz Member Mailing List
            </a>
          </li>
          <li>
            <a data-th-href="@{/report/member/emaillist}"
               data-th-text="#{com.cagst.swkroa.report.member.emaillist.title}">
              zzz Member Email List
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a data-th-href="@{/report/custom/membersbycounty}">
              Members by County
            </a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <span data-th-text="#{com.cagst.swkroa.nav.maintain}">zzz Maintain</span>
          <span class="caret-inverse"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a data-th-href="@{/maintain/codeset}" data-th-text="#{com.cagst.swkroa.maintain.menu.codeset}">
              zzz Code Sets
            </a>
          </li>
          <li>
            <a data-th-href="@{/maintain/users}" data-th-text="#{com.cagst.swkroa.maintain.menu.user}">
              zzz Users
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <span class="navbar-brand pull-right">
      <a href="#" data-th-text="#{com.cagst.brand}">zzz CAGST</a>
    </span>
  </div>
</div>

<div id="page-content">
  <div layout:fragment="content">
    <h1>zzzPage content goes here!</h1>
  </div>
</div>

<div class="modal fade" id="optimisticErrorMessage" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" data-th-text="#{com.cagst.swkroa.save.failed.caption}">zzz Optimistic</h4>
      </div>
      <div class="modal-body">
        <span data-th-text="#{com.cagst.swkroa.save.failed.message.optimistic}">zzz Update Failed?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal"
                data-th-text="#{com.cagst.swkroa.ok}">
          zzz Keep
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="unknownErrorMessage" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" data-th-text="#{com.cagst.swkroa.save.failed.caption}">zzz Unknown</h4>
      </div>
      <div class="modal-body">
        <span data-th-text="#{com.cagst.swkroa.save.failed.message.unknown}">zzz Update Failed?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                data-dismiss="modal"
                data-th-text="#{com.cagst.swkroa.ok}">
          zzz Keep
        </button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" data-th-src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript"
        data-th-src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js}"></script>

</body>
</html>
