<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/accounting/deposit.js}"></script>
</head>

<body>
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-app="swkroaApp" data-ng-controller="depositController">
  <!-- Deposit Listing Page -->
  <div data-ng-show="view == 'listing'">
    <div class="page-header">
      <h3 th:text="#{deposits.title}">zzz Deposit Overview</h3>
      <div id="createdMessage" class="alert alert-success alert-dismissible" role="alert">
        <strong>Success!</strong>
        <div th:text="#{deposits.save.created}">zzz Created</div>
      </div>
      <div id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
        <strong>Success!</strong>
        <div th:text="#{deposits.save.updated}">zzz Updated</div>
      </div>
    </div>
    <div class="row" data-ng-show="deposits">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th th:text="#{deposits.date}">zzz Date</th>
              <th th:text="#{deposits.number.label}">zzz Ref Num</th>
              <th th:text="#{deposits.amount}">zzz Amount</th>
              <th style="width: 24%">
                <a href="#" class="btn btn-success btn-xs pull-right" data-ng-click="addDeposit()">
                  <i class="fa fa-plus"></i>
                  <span th:text="#{deposits.add.button}">zzz Add</span>
                </a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="hover-buttons"
                data-ng-repeat="deposit in deposits | orderBy: 'depositDate': true"
                data-ng-show="deposit.active">
              <td>{{deposit.depositDate | date:'mediumDate'}}</td>
              <td>
                {{deposit.depositNumber}}
              </td>
              <td>{{deposit.depositAmount | currency}}</td>
              <td>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary btn-xs" data-ng-click="editDeposit(deposit)">
                    <i class="fa fa-edit"></i>
                    <span th:text="#{common.edit}">z_Edit</span>
                  </button>
                  <button type="button" class="btn btn-danger btn-xs"
                          data-ng-click="selectedDeposit(deposit)"
                          data-toggle="modal" data-target="#confirmDeletion">
                    <i class="fa fa-trash-o"></i>
                    <span th:text="#{common.delete}">zzz Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-3"></div>
    </div>
  </div>

  <!-- Modify (Add/Edit) Deposit Page -->
  <div data-ng-show="view == 'add' || view == 'edit'">
    <div class="page-header">
      <h3 th:text="#{deposits.add.button}" data-ng-show="deposit.depositUID == 0">
        zzz Add Deposit
      </h3>
      <h3 th:text="#{deposits.edit.button}" data-ng-show="deposit.depositUID > 0">
        zzz Edit Deposit
      </h3>
    </div>

    <form method="POST" name="depositForm" novalidate data-ng-submit="save()" class="css-form">
      <div class="row">
        <div class="col-xs-3">
          <div class="row" style="margin-left:10px; margin-right:10px;">
            <label for="depositDate" class="control-label label-required"
                   th:text="#{deposits.date}">
              zzz Date
            </label>
            <p class="input-group">
              <input id="depositDate" name="depositDate" type="text" class="form-control"
                     data-datepicker-popup="MM/dd/yyyy"
                     data-is-open="openDepositDate"
                     data-ng-model="deposit.depositDate"
                     data-ng-required="true" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="openDepositDate($event)">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
            </p>
          </div>
          <div class="row" style="margin-left:10px; margin-right:10px;">
            <label for="depositNumber" class="control-label label-required"
                   th:text="#{deposits.number.label}">
              zzz Deposit Number
            </label>
            <input id="depositNumber" name="depositNumber"
                   type="text" class="form-control" maxlength="25"
                   th:placeholder="#{deposits.number.prompt}"
                   data-ng-model="deposit.depositNumber"
                   data-ng-required="true" />
          </div>
          <div class="row" style="margin-left:10px; margin-right:10px;">
            <label class="control-label" th:text="#{deposits.amount}">zzz Amount</label>
            <h3 class="clear-top"
                data-ng-bind="deposit.depositAmount | currency">
              zzz Deposit Amount
            </h3>
          </div>
          <div class="row" style="margin-left:10px; margin-right:10px;">
            <div class="spacer-top">
              <div class="divider-top">
                <div class="spacer-top">
                  <button type="submit"
                          class="btn btn-primary"
                          th:text="#{deposits.create}"
                          data-ng-show="deposit.depositUID == 0"
                          data-ng-disabled="depositForm.$invalid">
                  </button>
                  <button type="submit"
                          class="btn btn-primary"
                          th:text="#{deposits.update}"
                          data-ng-show="deposit.depositUID > 0"
                          data-ng-disabled="depositForm.$invalid">
                  </button>
                  <button type="button" class="btn btn-default"
                          data-ng-click="cancelChanges()"
                          th:text="#{common.cancel}">
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Unpaid Invoices -->
        <div class="col-xs-9">
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">Unpaid Invoices</span>
              <span class="pull-right">
                <input type="text" data-ng-model="searchText" placeholder="Search"/>
              </span>
            </div>
            <div class="panel-body clear-padding" style="height:225px; overflow-y:scroll;">
              <em data-ng-show="!unpaid">
                <label class="panel-body text-muted text-center">
                  <i class="fa fa-spinner fa-pulse"></i>
                  <span th:text="#{deposits.loading}">zzz Loading</span>
                </label>
              </em>
              <table class="table table-hover table-bordered table-condensed"
                     data-ng-show="unpaid">
                  <thead>
                    <tr>
                      <th></th>
                      <th class="col-xs-2" th:text="#{deposits.transaction.date}">zzz Date</th>
                      <th class="col-xs-7">
                        <span th:text="#{deposits.transaction.membership}">zzz Membership</span>
                        <span class="pull-right text-muted" th:text="#{deposits.transaction.description}">zzz Invoice</span>
                      </th>
                      <th class="col-xs-1" th:text="#{deposits.transaction.amount}">zzz Amount</th>
                      <th class="col-xs-1" th:text="#{deposits.transaction.paid}">zzz Paid</th>
                      <th class="col-xs-1" th:text="#{deposits.transaction.remaining}">zzz Remaining</th>
                    </tr>
                  </thead>
                  <tbody data-ng-repeat="inv in unpaid | filter: searchText | orderBy: ['membershipName', 'transactionDate']"
                         data-ng-show="!inv.transactionInDeposit">
                    <tr>
                      <td>
                        <button type="button" class="btn btn-success btn-xs"
                                th:attr="data-uib-tooltip=#{deposits.add.tooltip}"
                                data-ng-click="addInvoiceToDeposit(inv)">
                          <i class="fa fa-plus"></i>
                        </button>
                      </td>
                      <td><span data-ng-bind="inv.transactionDate | date: 'mediumDate'"></span></td>
                      <td>
                        <span data-ng-bind="inv.membershipName"></span>
                        <span class="text-muted pull-right" data-ng-bind="inv.transactionDescription"></span>
                      </td>
                      <td><span class="pull-right" data-ng-bind="inv.transactionAmount | currency"></span></td>
                      <td><span class="pull-right" data-ng-bind="inv.amountPaid | currency"></span></td>
                      <td><span class="pull-right" data-ng-bind="inv.amountRemaining | currency"></span></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>

          <!-- Transactions in Deposit -->
          <div class="spacer-top panel panel-default">
            <div class="panel-heading">
              <span class="panel-title">Transactions in Deposit</span>
            </div>
            <div class="panel-body clear-padding" style="height:225px; overflow-y:scroll;">
              <table class="table table-hover table-bordered table-condensed">
              <thead>
                <tr>
                  <th></th>
                  <th class="col-xs-2" th:text="#{deposits.transaction.date}">zzz Date</th>
                  <th class="col-xs-7">
                    <span th:text="#{deposits.transaction.membership}">zzz Membership</span>
                    <span class="pull-right text-muted" th:text="#{deposits.transaction.description}">zzz Invoice</span>
                  </th>
                  <th class="col-xs-1" th:text="#{deposits.transaction.amount}">zzz Amount</th>
                  <th class="col-xs-1" th:text="#{deposits.transaction.paid}">zzz Paid</th>
                  <th class="col-xs-1"></th>
                </tr>
              </thead>
              <tbody data-ng-repeat="tx in deposit.transactions | orderBy: ['membershipName', 'transactionDate']"
                     data-ng-show="tx.active">
                <tr>
                  <td>
                    <button type="button" class="btn btn-danger btn-xs"
                            th:attr="data-uib-tooltip=#{deposits.remove.tooltip}"
                            data-ng-click="removeInvoiceFromDeposit(tx)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </td>
                  <td style="width:125px">
                    <div>
                      <a href="#" onclick="toggleTransactionDetails(this)">
                        <i class="fa fa-caret-right"></i>
                      </a>
                      {{tx.transactionDate | date: 'mediumDate'}}
                    </div>
                  </td>
                 <td>
                   <span data-ng-bind="tx.membershipName"></span>
                   <span class="text-muted pull-right" data-ng-bind="tx.transactionDescription"></span>
                 </td>
                  <td><span class="pull-right" data-ng-bind="tx.transactionAmount | currency"></span></td>
                  <td><span class="pull-right" data-ng-bind="tx.amountPaid | currency"></span></td>
                  <td>
                    <button type="button" class="btn btn-primary btn-xs pull-right"
                            data-ng-click="createTransactionEntry(tx)">
                      <span th:text="#{deposits.transaction.add.entry}"></span>
                    </button>
                  </td>
                </tr>
                <tr class="details hide" data-ng-repeat="entry in tx.transactionEntries">
                  <td></td>
                  <td></td>
                  <td>{{entry.transactionEntryType.display}}</td>
                  <td style="width:100px">
                    <div class="pull-right">
                      {{entry.transactionEntryAmount | currency}}
                    </div>
                  </td>
                  <td colspan="2"></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Add Entry Dialog -->
      <div class="modal fade" id="addEntry">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"
                  th:text="#{deposits.transaction.add.entry}">
                zzz Add Entry
              </h4>
            </div>

            <div class="modal-body">
              <div class="row">
                <div class="col-xs-6">
                  <label for="entryType" class="control-label label-required"
                         th:text="#{common.type}">
                    zzz Type
                  </label>
                  <select id="entryType" name="entryType" class="form-control"
                          data-ng-model="newTransactionEntry.transactionEntryType"
                          data-ng-options="type.display for type in entryTypes">
                  </select>
                </div>
                <div class="col-xs-6">
                  <label for="entryAmount" class="control-label label-required"
                         th:text="#{membership.transaction.amount}">
                    zzz Amount
                  </label>
                  <input id="entryAmount" type="number" class="form-control"
                         data-ng-model="newTransactionEntry.transactionEntryAmount" />
                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-success"
                      data-ng-click="addTransactionEntry()"
                      th:text="#{com.cagst.swkroa.add}">
                zzz Add
              </button>
              <button type="button" class="btn btn-default"
                      data-dismiss="modal"
                      th:text="#{common.cancel}">
                zzz Cancel
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

</body>
</html>