<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <script type="text/javascript" data-th-src="@{/static/js/accounting/dues.js}"></script>
</head>

<body>

<div data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="duesController">
  <div class="page-header">
    <h3 data-th-text="#{com.cagst.swkroa.dues.title}">zzz Dues</h3>
  </div>

  <div class="row" data-ng-show="dues">
    <div class="col-xs-3">
      <div class="btn-group-vertical">
        <a type="button" class="btn btn-primary" data-th-href="@{/accounting/dues/renew}">
          <span data-th-text="#{com.cagst.swkroa.dues.renew.button}">zzz Renew Membership</span>
        </a>
      </div>
    </div>
    <div class="col-xs-6">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th data-th-text="#{com.cagst.swkroa.dues.date}">zzz Date</th>
            <th data-th-text="#{com.cagst.swkroa.dues.desc}">zzz Desc</th>
            <th data-th-text="#{com.cagst.swkroa.dues.memberships}">zzz Memberships</th>
            <th data-th-text="#{com.cagst.swkroa.dues.amount}">zzz Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="run in dues | orderBy: 'runDate': true">
            <td>{{run.runDate | date:'mediumDate'}}</td>
            <td>{{run.runDescription}}</td>
            <td>{{run.runCount}}</td>
            <td>{{run.runTotal | currency}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

</body>
</html>
