<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/accounting/new_invoice.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/report.js}"></script>
</head>

<body>
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-app="swkroaApp" data-ng-controller="invoiceController">
  <div class="page-header">
    <h3 th:text="#{invoices.renew.title}">zzz Renew Memberships</h3>
  </div>
  <form name="newForm" class="form-inline spacer-bottom divider-bottom" th:attr="action=@{/accounting/dues/renew}" target="_blank" method="post">
    <div class="row-inner">
      <div class="form-group pull-left">
        <label class="control-label" th:text="#{invoices.renew.due.in}">zzz Due In</label>
        <input type="number" class="form-control" name="dueInDays" maxlength="3" data-ng-model="days" />
      </div>
      <button type="button" class="btn btn-primary"
              th:text="#{invoices.renew.get.memberships}"
              data-ng-click="getMemberhipsDueIn(days)">
        zzz Memberships
      </button>
      <div class="pull-right" data-ng-show="membershipsDue">
        <h4 th:text="#{invoices.renew.totals}">zzz Totals</h4>
      </div>
    </div>
  </form>

  <form name="reportForm" th:attr="action=@{/report/membership/renew}" target="_blank" method="post">
    <div class="row spacer-top" data-ng-show="membershipsDue">
      <div class="col-xs-2">
        <div class="btn-group-vertical">
          <input id="reportType" type="hidden" name="reportType" />
          <button type="button" class="btn btn-default"
                  data-ng-disabled="!canExport()"
                  data-toggle="modal" data-target="#renewalLetterDlg">
            <i class="fa fa-print"></i>
            <span th:text="#{com.cagst.swkroa.print}">zzz Print</span>
          </button>
          <a id="generateCsv" class="btn btn-default"
             href="javascript:submitReportForm('csv')"
             data-ng-disabled="!canExport()">
            <i class="fa fa-download"></i>
            <span th:text="#{com.cagst.swkroa.export}">zzz Export</span>
          </a>
          <button type="button" class="btn btn-primary"
                  data-ng-disabled="!canExport()"
                  data-toggle="modal" data-target="#renewMembershipsDlg">
            <span th:text="#{invoices.renew.generate.transactions}">zzz Generate</span>
          </button>
        </div>
      </div>
      <div class="col-xs-8">
        <table class="table table-hover table-bordered table-condensed">
          <thead>
            <tr>
              <th>
                <input id="checkAll" type="checkbox" data-ng-model="checkAll" data-ng-change="toggleCheckAll()" />
              </th>
              <th th:text="#{invoices.renew.membership}">zzz Membership</th>
              <th th:text="#{invoices.renew.balance}">zzz Balance</th>
              <th th:text="#{invoices.renew.duesamount}">zzz Dues Amount</th>
              <th th:text="#{invoices.renew.nextduedate}">zzz Next Due Date</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="mem in membershipsDue">
              <td>
                <input id="{{mem.membershipUID}}" name="selectedMembership_{{mem.membershipUID}}" type="checkbox"
                       data-ng-model="mem.selected" data-ng-click="toggleCheck()"/>
              </td>
              <td>{{mem.membershipName}}</td>
              <td>{{mem.balance | currency}}</td>
              <td>{{mem.calculatedDuesAmount | currency}}</td>
              <td>{{mem.nextDueDate | date:'mediumDate'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-3"></div>
    </div>

    <!-- Renewal Letter Details Dialog -->
    <div class="modal" id="renewalLetterDlg" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{invoices.renew.letter.title}">zzz Details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-12">
                <label class="form-label" for="membershipPeriod"
                       th:text="#{invoices.renew.letter.years}">
                  zzz Period
                </label>
                <input type="text" class="form-control" id="membershipPeriod" name="membershipPeriod"
                       data-ng-model="membershipRenewalPeriod"
                       data-ng-required="true" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a id="generatePdf" class="btn btn-primary"
               href="javascript:generateMembershipRenewalLetters('pdf')"
               th:text="#{invoices.renew.letter.generate}">
              zzz Generate
            </a>
            <button type="button" class="btn btn-default"
                    data-dismiss="modal"
                    th:text="#{com.cagst.swkroa.cancel}">
              zzz Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Transaction Details Dialog -->
    <div class="modal" id="renewMembershipsDlg" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{invoices.renew.transaction.title}">zzz Details</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-xs-5">
                <label class="form-label" th:text="#{com.cagst.swkroa.membership.transaction.date}">
                  zzz Date
                </label>
                <div class="input-group">
                  <input type="text" class="form-control" id="transactionDate" name="transactionDate"
                         data-datepicker-options="datePickerConfig"
                         data-uib-datepicker-popup="MM/dd/yyyy"
                         data-is-open="openedTransactionDate"
                         data-show-weeks="false"
                         data-ng-model="transactionDate"
                         data-ng-required="true" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="openTransactionDate($event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
              </div>
              <div class="col-xs-7">
                <label class="form-label" th:text="#{common.desc}">
                  zzz Desc
                </label>
                <input type="text" class="form-control" id="transactionDesc" name="transactionDesc"
                       data-ng-model="transactionDescription"
                       data-ng-required="true" />
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-12">
                <label class="form-label" th:text="#{com.cagst.swkroa.membership.transaction.memo}">
                  zzz Memo
                </label>
                <textarea class="form-control" rows="3" data-ng-model="transactionMemo"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    data-ng-click="renewingMemberships()"
                    th:text="#{invoices.renew.generate.transactions}">
              zzz Generate
            </button>
            <button type="button" class="btn btn-default"
                    data-dismiss="modal"
                    th:text="#{com.cagst.swkroa.cancel}">
              zzz Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Transaction Job Submitted Dialog -->
    <div class="modal" id="transactionJobSubmittedDlg" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" th:text="#{invoices.job.submitted.title}">zzz Title</h4>
          </div>
          <div class="modal-body">
            <p th:text="#{invoices.job.submitted.description}">zzz Job Submitted</p>
            <p th:text="#{invoices.job.submitted.continue}">zzz Continue</p>
          </div>
          <div class="modal-footer">
            <a type="button" class="btn btn-default"
               th:href="@{/accounting/invoices}"
               th:text="#{common.close}">
              zzz Cancel
            </a>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>

</body>
</html>
