<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <script type="text/javascript" th:src="@{/static/js/membership/details.js}"></script>
</head>

<body>

<div data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="membershipController">
  <div class="page-header">
    <h3 th:text="#{com.cagst.swkroa.membership.details.title}">zzz Membership Details</h3>
    <input id="membershipUID" type="hidden" th:value="${membershipId}" />
  </div>
  <div class="container-outline">
    <div class="row row-inner">
      <div class="col-xs-4 stretch">
        <div class="list-group clear-bottom divider-right">
          <div class="list-group-item alt-list-group-item sel-list-group-item"
               data-ng-click="setPage('MEMBERSHIP')"
               data-ng-class="{'active': view == 'MEMBERSHIP'}">
            Membership Information
          </div>
          <div class="list-group-item alt-list-group-item sel-list-group-item"
                data-ng-click="setPage('MEMBERS')"
            data-ng-class="{'active': view == 'MEMBERS'}">
            Members
            <span class="badge" data-ng-bind="membership.members.length">0</span>
          </div>
          <div class="list-group-item alt-list-group-item sel-list-group-item"
               data-ng-click="setPage('COUNTIES')"
            data-ng-class="{'active': view == 'COUNTIES'}">
            Counties
            <span class="badge" data-ng-bind="membership.membershipCounties.length">0</span>
          </div>
          <div class="list-group-item alt-list-group-item sel-list-group-item"
               data-ng-click="setPage('COMMENTS')"
            data-ng-class="{'active': view == 'COMMENTS'}">
            Comments
            <span class="badge" data-ng-bind="membership.comments.length">0</span>
          </div>
          <div class="list-group-item alt-list-group-item sel-list-group-item"
               data-ng-click="setPage('TRANSACTIONS')"
            data-ng-class="{'active': view == 'TRANSACTIONS'}">
            Transactions
            <span class="badge" data-ng-bind="membership.transactions.length">0</span>
          </div>
        </div>
      </div>

      <div class="col-xs-8">
        <div id="MEMBERSHIP" data-ng-show="view == 'MEMBERSHIP'">
          <h4 th:text="#{com.cagst.swkroa.membership.details.membership}">zzz Membership Information</h4>
          <div class="indent-left">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="primaryMemberType" class="control-label">zzz Type</label>
                <span id="primaryMemberType" data-ng-bind="membership.primaryMember.memberType.memberTypeDisplay"></span>
              </div>
            </form>
          </div>
        </div>
        <div id="MEMBERS" data-ng-show="view == 'MEMBERS'">
          <h4 th:text="#{com.cagst.swkroa.membership.details.members}">zzz Members</h4>
        </div>
        <div id="COUNTIES" data-ng-show="view == 'COUNTIES'">
          <h4 th:text="#{com.cagst.swkroa.membership.details.counties}">zzz Counties</h4>
        </div>
        <div id="COMMENTS" data-ng-show="view == 'COMMENTS'">
          <h4 th:text="#{com.cagst.swkroa.membership.details.comments}">zzz Comments</h4>
        </div>
        <div id="TRANSACTIONS" data-ng-show="view == 'TRANSACTIONS'">
          <h4 th:text="#{com.cagst.swkroa.membership.details.transactions}">zzz Transaction</h4>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>