<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <!--
  <script type="text/javascript" data-th-src="@{/static/ui-utils-0.1.1/ui-utils.min.js}"></script>
  -->
  <script type="text/javascript" data-th-src="@{/static/js/membership/listing.js}"></script>
</head>

<body>

<div data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="membershipController">
  <div class="page-header">
    <h3 data-th-text="#{com.cagst.swkroa.membership.overview}">zzz Membership Overview</h3>
    <div id="createdMessage" class="alert alert-success alert-dismissible" role="alert">
      <strong>Success!</strong>
      <div data-th-text="#{com.cagst.swkroa.membership.save.created}">zzz Created</div>
    </div>
    <div id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
      <strong>Success!</strong>
      <div data-th-text="#{com.cagst.swkroa.membership.save.updated}">zzz Updated</div>
    </div>
  </div>
  <div class="container-outline">
    <div class="row row-inner">
      <!-- Listing (Quick View) -->
      <div class="col-xs-5 stretch">
        <!-- Search -->
        <div class="split-header" data-ng-show="filtering == 'off'">
          <div class="split-header-content expand">
            <div class="input-group">
              <a class="input-group-addon add-btn"
                 data-ng-click="addMembership()"
                 data-th-attr="tooltip=#{com.cagst.swkroa.membership.add}"
                 data-tooltip-placement="right">
                <i class="fa fa-plus"></i>
              </a>
              <input type="text" class="form-control" autofocus="autofocus"
                     data-th-placeholder="#{com.cagst.swkroa.membership.search.prompt}"
                     data-ng-model="query"
                     data-ng-keydown="queryKeydown($event)" />
              <a class="input-group-addon btn btn-primary"
                 data-ng-click="getMembers()"
                 data-ng-disabled="query.length < 2"
                 data-th-attr="tooltip=#{com.cagst.swkroa.membership.search.tip}"
                 data-tooltip-placement="right">
                <i class="fa fa-search"></i>
              </a>
            </div>

            <div class="input-group">
              <div class="input-group-addon">&nbsp;&nbsp;&nbsp;</div>
              <input type="text" class="form-control filter" readonly
                     data-ng-model="filterText" />
              <a class="input-group-addon btn"
                 data-ng-click="showFilterOptions()"
                 data-th-attr="tooltip=#{com.cagst.swkroa.membership.filter.tip}"
                 data-tooltip-placement="right">
                <i class="fa fa-filter"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Filter Options -->
        <div class="split-header" data-ng-show="filtering == 'on'">
          <div class="split-header-content expand">
            <div class="row">
              <label class="col-xs-2">Status</label>
              <select class="col-xs-8" data-ng-model="filterStatus">
                <option value="ALL" data-th-text="#{com.cagst.swkroa.membership.filter.all}">
                  zzz All
                </option>
                <option value="ACTIVE" data-th-text="#{com.cagst.swkroa.membership.filter.active}">
                  zzz Active
                </option>
                <option value="INACTIVE" data-th-text="#{com.cagst.swkroa.membership.filter.inactive}">
                  zzz Inactive
                </option>
              </select>
            </div>

            <!--
            <div class="row">
              <label class="col-xs-2">Balance</label>
              <select class="col-xs-8" data-ng-model="filterBalance">
                <option value="ALL" data-th-text="#{com.cagst.swkroa.membership.filter.all}">
                  zzz All
                </option>
                <option value="DELINQUENT" data-th-text="#{com.cagst.swkroa.membership.filter.delinquent}">
                  zzz Credit
                </option>
                <option value="PAID" data-th-text="#{com.cagst.swkroa.membership.filter.paid}">
                  zzz Delinquent
                </option>
                <option value="CREDIT" data-th-text="#{com.cagst.swkroa.membership.filter.credit}">
                  zzz Paid
                </option>
              </select>
            </div>
            -->

            <div class="row-inner">
              <span class="col-xs-offset-2 col-xs-8">
                <button type="button" class="btn btn-primary btn-sm"
                        data-ng-click="applyFilter()"
                        data-th-text="#{com.cagst.swkroa.membership.filter.apply}">
                  zzz Apply Filter
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        data-ng-click="cancelFilter()"
                        data-th-text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </span>
            </div>
          </div>
        </div>

        <!-- Results -->
        <div class="list-group constrain-view divider-right">
          <div>
            <div class="panel-body text-muted" data-ng-show="!members.length">
              <em data-th-text="#{com.cagst.swkroa.membership.nosearch}"
                  data-ng-show="!searched">
                zzz No Search
              </em>
              <em data-th-text="#{com.cagst.swkroa.membership.nomembers}"
                  data-ng-show="searched">
                zzz No members
              </em>
            </div>
            <div data-ng-show="members.length">
              <div class="list-group-item alt-list-group-item sel-list-group-item"
                   data-ng-repeat="mem in members"
                   data-ng-class="{active: mem.memberUID === member.memberUID}"
                   data-ng-click="getMembership(mem)">
                <div>
                  <span class="lead lead-in lead-sm" data-ng-bind="mem.effectiveMemberName">
                    zzz Member Name
                  </span>
                  <span class="text-muted label-contained" data-ng-bind="mem.ownerIdent">
                    zzz OwnerId
                  </span>
                  <span class="pull-right" data-th-text="#{com.cagst.swkroa.membership.member.since}"
                        data-ng-show="mem.joinDate != null">
                    zzz Member Since
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Details (Summary) -->
      <div class="col-xs-7 stretch pull-right divider-left">
        <div data-ng-show="!membership">
          <em>
            <label class="panel-body text-muted text-center"
                   data-th-text="#{com.cagst.swkroa.membership.notselected}">
              zzz No membership selected.
            </label>
          </em>
        </div>
        <div data-ng-show="membership">
          <div class="container-inner constrain-view">
            <div class="row row-inner">
              <div class="pull-left">
                <h2 class="lead">
                  <span data-ng-bind="membership.primaryMember.effectiveMemberName"></span>
                  <small data-th-text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                         data-ng-show="membership.primaryMember.joinDate">
                    zzz Since
                  </small>
                </h2>
              </div>
              <div class="container-medium panel panel-default pull-right">
                <div class="panel-heading">
                  <a href="#" data-ng-click="toggleShowCalculations()">
                    <i class="fa fa-caret-right" data-ng-show="!showCalculations"></i>
                    <i class="fa fa-caret-down" data-ng-show="showCalculations"></i>
                  </a>
                  <span class="panel-text" data-th-text="#{com.cagst.swkroa.membership.calc.title}">
                    zzz Dues Calculation
                  </span>
                </div>
                <div class="panel-body" data-ng-show="showCalculations">
                  <div class="row row-inner"
                       data-ng-repeat="member in membership.members"
                       data-ng-show="member.memberType.duesAmount > 0">
                    <span class="col-xs-8" data-ng-bind="member.memberType.memberTypeDisplay"></span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{member.memberType.duesAmount | currency}}
                      </span>
                    </span>
                  </div>
                  <div class="row row-inner" data-ng-show="membership.incrementalDues > 0">
                    <span class="col-xs-8" data-th-text="#{com.cagst.swkroa.membership.calc.incremental}">zzz Incremental Dues</span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{membership.incrementalDues | currency}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="panel-footer" data-ng-show="showCalculations">
                  <div class="row row-inner">
                    <span class="col-xs-8" data-th-text="#{com.cagst.swkroa.membership.calc.total}">
                      zzz Total
                    </span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{membership.calculatedDuesAmount | currency}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title" data-th-text="#{com.cagst.swkroa.membership.members}">
                    zzz Members
                  </span>
                </div>
                <ul class="list-group list-group-hover">
                  <li class="list-group-item" data-ng-show="membership.primaryMember">
                    <span>
                      <strong data-ng-bind="membership.primaryMember.effectiveMemberName"></strong>
                    </span>
                    <small class="text-muted">({{membership.primaryMember.ownerIdent}})</small>
                    <small class="text-muted" data-th-text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                           data-ng-show="membership.primaryMember.joinDate">
                      zzz Since
                    </small>
                  </li>
                  <li class="list-group-item" data-ng-repeat="member in membership.members"
                      data-ng-show="member.memberType.primary === false && member.active === true">
                    <span>{{member.effectiveMemberName}}</span>
                    <small class="text-muted">({{member.ownerIdent}})</small>
                    <small class="text-muted" data-th-text="#{com.cagst.swkroa.membership.member.detail.since}">
                      zzz Since
                    </small>
                  </li>
                </ul>
              </div>

              <div class="spacer-top">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title" data-th-text="#{com.cagst.swkroa.membership.counties}">
                      zzz Counties
                    </span>
                  </div>
                  <ul class="list-group list-group-hover" data-ng-repeat="membershipCounty in membership.membershipCounties">
                    <li class="list-group-item" data-ng-class="{text_bold: membershipCounty.votingCounty === true}">
                      {{membershipCounty.county.countyName}}
                      <small class="text-muted text_normal"
                             data-th-text="#{com.cagst.swkroa.membership.member.detail.county}">
                        zzz County Details
                      </small>
                    </li>
                  </ul>
                </div>
              </div>

              <div data-th-include="membership/list/detail_comments"></div>
              <div data-th-include="membership/list/detail_transactions"></div>
            </div>
          </div>

          <div class="divider-top split-footer">
            <div class="split-footer-content pull-right">
              <button type="button" class="btn btn-primary btn-xs"
                      data-ng-click="editMembership()">
                <i class="fa fa-edit"></i>
                <span data-th-text="#{com.cagst.swkroa.edit}">zzz Edit</span>
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      data-toggle="modal" data-target="#closeMembershipsDlg"
                      data-ng-show="membership.active == true">
                <i class="fa fa-power-off"></i>
                <span data-th-text="#{com.cagst.swkroa.membership.close}">zzz Close</span>
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      data-toggle="modal" data-target="#openMembershipsDlg"
                      data-ng-show="membership.active == false">
                <i class="fa fa-circle-o-notch"></i>
                <span data-th-text="#{com.cagst.swkroa.membership.open}">zzz Open</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Close Memberships Dialog -->
        <div class="modal fade" id="closeMembershipsDlg" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" data-th-text="#{com.cagst.swkroa.membership.close.title}">zzz Please confirm</h4>
              </div>
              <div class="modal-body">
                <p data-th-text="#{com.cagst.swkroa.membership.close.msg}">zzz Member</p>

                <label class="control-label"
                       data-ng-class="{'label-required': true}"
                       data-th-text="#{com.cagst.swkroa.membership.close.reason}">
                  zzz Close Reason
                </label>
                <select class="form-control"
                        data-ng-model="closeReason"
                        data-ng-required="true"
                        data-ng-options="reason.display for reason in closeReasons">
                </select>
                <label class="control-label"
                       data-ng-class="{'label-required': closeReason.meaning == 'CLOSE_OTHER'}"
                       data-th-text="#{com.cagst.swkroa.membership.close.text}">
                  zzz CloseText
                </label>
                <input type="text" class="form-control" name="companyName" maxlength="100"
                       data-ng-model="closeText"
                       data-ng-disabled="closeReason.meaning != 'CLOSE_OTHER'"
                       data-ng-required="closeReason.meaning == 'CLOSE_OTHER'" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-ng-click="closeMembership()"
                        data-ng-disabled="!canClose()"
                        data-th-text="#{com.cagst.swkroa.membership.close.button}">
                  zzz Delete
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"
                        data-th-text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Open Membership Dialog -->
        <div class="modal fade" id="openMembershipsDlg" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" data-th-text="#{com.cagst.swkroa.membership.open.title}">zzz Please confirm</h4>
              </div>
              <div class="modal-body">
                <span data-th-text="#{com.cagst.swkroa.membership.open.message}">zzz Open this?</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-ng-click="openMembership()"
                        data-th-text="#{com.cagst.swkroa.membership.open.btn}">
                  zzz Delete
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"
                        data-th-text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </div>
            </div>
          </div>
        </div>

        <div data-th-include="membership/list/dlg_comment"></div>
        <div data-th-include="membership/list/dlg_transaction"></div>

      </div>
    </div>
  </div>

</div>

</body>
</html>