<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <script type="text/javascript" th:src="@{/static/js/membership/listing.js}"></script>
</head>

<body>

<div data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="membershipController">
  <div class="page-header">
    <h3 th:text="#{com.cagst.swkroa.membership.overview}">zzz Membership Overview</h3>
    <div id="createdMessage" class="alert alert-success alert-dismissible" role="alert">
      <strong>Success!</strong>
      <div th:text="#{com.cagst.swkroa.membership.save.created}">zzz Created</div>
    </div>
    <div id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
      <strong>Success!</strong>
      <div th:text="#{com.cagst.swkroa.membership.save.updated}">zzz Updated</div>
    </div>
  </div>
  <div class="container-outline">
    <div class="row row-inner">
      <!-- Listing (Quick View) -->
      <div class="col-xs-4 stretch" style="height:550px;">
        <!-- Search -->
        <div class="split-header divider-right" data-ng-show="filtering == 'off'" style="height:88px;">
          <div class="split-header-content expand">
            <div class="input-group">
              <a class="input-group-addon add-btn"
                 data-ng-click="addMembership()"
                 th:attr="tooltip=#{com.cagst.swkroa.membership.add}"
                 data-tooltip-placement="right">
                <i class="fa fa-plus"></i>
              </a>
              <input type="text" class="form-control" autofocus="autofocus"
                     th:placeholder="#{com.cagst.swkroa.membership.search.prompt}"
                     data-ng-model="query"
                     data-ng-keydown="queryKeydown($event)" />
              <a class="input-group-addon btn btn-primary"
                 data-ng-click="firstPage()"
                 data-ng-disabled="query.length < 2"
                 th:attr="tooltip=#{com.cagst.swkroa.membership.search.tip}"
                 data-tooltip-placement="right">
                <i class="fa fa-search"></i>
              </a>
            </div>

            <div class="input-group">
              <div class="input-group-addon">&nbsp;&nbsp;&nbsp;</div>
              <input type="text" class="form-control filter" readonly data-ng-model="filterText" />
              <a class="input-group-addon btn"
                 data-ng-click="showFilterOptions()"
                 th:attr="tooltip=#{com.cagst.swkroa.membership.filter.tip}"
                 data-tooltip-placement="right">
                <i class="fa fa-filter"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Filter Options -->
        <div class="split-header" data-ng-show="filtering == 'on'">
          <div class="split-header-content expand">
            <div class="row">
              <label class="col-xs-2">Status</label>
              <select class="col-xs-8" data-ng-model="filterStatus">
                <option value="ALL" th:text="#{com.cagst.swkroa.membership.filter.all}">
                  zzz All
                </option>
                <option value="ACTIVE" th:text="#{com.cagst.swkroa.membership.filter.active}">
                  zzz Active
                </option>
                <option value="INACTIVE" th:text="#{com.cagst.swkroa.membership.filter.inactive}">
                  zzz Inactive
                </option>
              </select>
            </div>

            <div class="row-inner">
              <span class="col-xs-offset-2 col-xs-8">
                <button type="button" class="btn btn-primary btn-sm"
                        data-ng-click="applyFilter()"
                        th:text="#{com.cagst.swkroa.membership.filter.apply}">
                  zzz Apply Filter
                </button>
                <button type="button" class="btn btn-default btn-sm"
                        data-ng-click="cancelFilter()"
                        th:text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </span>
            </div>
          </div>
        </div>

        <!-- Results -->
        <div class="list-group clear-bottom divider-right" style="height:412px; overflow:auto;">
          <div class="panel-body text-muted divider-top" data-ng-show="!members.length">
            <em th:text="#{com.cagst.swkroa.membership.nosearch}" data-ng-show="!searched">
              zzz No Search
            </em>
            <em th:text="#{com.cagst.swkroa.membership.nomembers}" data-ng-show="searched">
              zzz No members
            </em>
          </div>
          <div data-ng-show="members.length" style="height:360px;">
            <div class="list-group-item list-group-item-condensed alt-list-group-item sel-list-group-item"
                 data-ng-repeat="mem in members"
                 data-ng-class="{active: mem.memberUID === member.memberUID}"
                 data-ng-click="getMembership(mem)">
              <span class="lead lead-in lead-sm" data-ng-bind="mem.memberName">zzz Member Name</span>
              <span class="text-muted label-contained" data-ng-bind="mem.ownerIdent">zzz OwnerId</span>
            </div>
          </div>
        </div>
        <div class="split-footer divider-right" data-ng-class="{'divider-top': !members.length || (pages == 1)}">
          <ul class="pagination" data-ng-show="pages > 1" style="margin-top:8px; margin-bottom:8px; margin-left:10px;">
            <li id="firstPage"
                data-ng-class="{'disabled': page == 1}"
                data-ng-click="firstPage()">
              <a href="#"><i class="fa fa-angle-double-left"></i></a>
            </li>
            <li id="prevPage"
                data-ng-class="{'disabled': page == 1}"
                data-ng-click="prevPage()">
              <a href="#"><i class="fa fa-angle-left"></i></a>
            </li>
            <li data-ng-repeat="increment in increments"
                data-ng-attr-id="{{'page' + increment}}"
                data-ng-class="{'active': page == increment}"
                data-ng-click="setPage(increment)">
              <a href="#">{{increment}}</a>
            </li>
            <li id="nextPage"
                data-ng-class="{'disabled': page == pages}"
                data-ng-click="nextPage()">
              <a href="#"><i class="fa fa-angle-right"></i></a>
            </li>
            <li id="lastPage"
                data-ng-class="{'disabled': page == pages}"
                data-ng-click="lastPage()">
              <a href="#"><i class="fa fa-angle-double-right"></i></a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Details (Summary) -->
      <div class="col-xs-8 stretch pull-right">
        <div data-ng-show="!membership">
          <div class="panel-body text-muted text-center">
            <em th:text="#{com.cagst.swkroa.membership.notselected}">zzz No membership selected.</em>
          </div>
        </div>
        <div data-ng-show="membership">
          <div class="container-inner constrain-view" style="height:450px;">
            <div class="row row-inner">
              <div class="pull-left">
                <h2 class="lead">
                  <span data-ng-bind="membership.primaryMember.memberName"></span>
                  <small th:text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                         data-ng-show="membership.primaryMember.joinDate">
                    zzz Since
                  </small>
                </h2>
              </div>
              <div class="container-medium panel panel-default pull-right">
                <div class="panel-heading">
                  <a href="#" data-ng-click="toggleShowCalculations()">
                    <i class="fa fa-caret-right" data-ng-show="!showCalculations"></i>
                    <i class="fa fa-caret-down" data-ng-show="showCalculations"></i>
                  </a>
                  <span class="panel-text" th:text="#{com.cagst.swkroa.membership.calc.title}">
                    zzz Dues Calculation
                  </span>
                </div>
                <div class="panel-body" data-ng-show="showCalculations">
                  <div class="row row-inner"
                       data-ng-repeat="member in membership.members"
                       data-ng-show="member.memberType.duesAmount > 0">
                    <span class="col-xs-8" data-ng-bind="member.memberType.memberTypeDisplay"></span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{member.memberType.duesAmount | currency}}
                      </span>
                    </span>
                  </div>
                  <div class="row row-inner" data-ng-show="membership.incrementalDues > 0">
                    <span class="col-xs-8" th:text="#{com.cagst.swkroa.membership.calc.incremental}">zzz Incremental Dues</span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{membership.incrementalDues | currency}}
                      </span>
                    </span>
                  </div>
                </div>
                <div class="panel-footer" data-ng-show="showCalculations">
                  <div class="row row-inner">
                    <span class="col-xs-8" th:text="#{com.cagst.swkroa.membership.calc.total}">
                      zzz Total
                    </span>
                    <span class="col-xs-4">
                      <span class="pull-right">
                        {{membership.calculatedDuesAmount | currency}}
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <span class="panel-title" th:text="#{com.cagst.swkroa.membership.members}">
                    zzz Members
                  </span>
                </div>
                <ul class="list-group list-group-hover">
                  <li class="list-group-item" data-ng-show="membership.primaryMember">
                    <span>
                      <strong data-ng-bind="membership.primaryMember.memberName"></strong>
                    </span>
                    <small class="text-muted">({{membership.primaryMember.ownerIdent}})</small>
                    <small class="text-muted" th:text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                           data-ng-show="membership.primaryMember.joinDate">
                      zzz Since
                    </small>
                  </li>
                  <li class="list-group-item" data-ng-repeat="member in membership.members"
                      data-ng-show="member.memberType.primary === false && member.active === true">
                    <span data-ng-bind="member.memberName"></span>
                    <small class="text-muted">({{member.ownerIdent}})</small>
                    <small class="text-muted" th:text="#{com.cagst.swkroa.membership.member.detail.since}">
                      zzz Since
                    </small>
                  </li>
                </ul>
              </div>

              <!-- Membership Comments -->
              <div class="spacer-top">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title" th:text="#{com.cagst.swkroa.membership.comments}">zzz Comments</span>
                    <span class="pull-right">
                      <button type="button" class="btn btn-success btn-xs"
                              data-toggle="modal" data-target="#modifyComment"
                              data-ng-click="addComment()"
                              th:attr="tooltip=#{com.cagst.swkroa.membership.comment.create}"
                              data-tooltip-placement="left">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <table class="table table-hover table-bordered">
                    <tr data-ng-repeat="comment in membership.comments | orderBy : 'commentDate' : true"
                        data-ng-show="comment.active">
                      <td style="width:100px">{{comment.commentDate | date:'mediumDate'}}</td>
                      <td class="comment-text">{{comment.commentText}}</td>
                      <td style="width:75px">
                        <div class="pull-right">
                          <button type="button" class="btn btn-primary btn-xs"
                                  data-toggle="modal" data-target="#modifyComment"
                                  data-ng-click="selectComment(comment)"
                                  th:attr="tooltip=#{com.cagst.swkroa.membership.comment.update}"
                                  data-tooltip-placement="left">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-danger btn-xs"
                                  data-toggle="modal" data-target="#deleteComment"
                                  data-ng-click="selectComment(comment)"
                                  th:attr="tooltip=#{com.cagst.swkroa.membership.comment.delete.title}"
                                  data-tooltip-placement="left">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>

              <!-- Membership Transactions -->
              <div class="spacer-top">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title" th:text="#{com.cagst.swkroa.membership.transactions}">zzz Transactions</span>
                    <span class="pull-right">
                      <button type="button" class="btn btn-success btn-xs"
                              data-toggle="modal" data-target="#modifyTransaction"
                              data-ng-click="addTransaction()"
                              th:attr="tooltip=#{com.cagst.swkroa.membership.transaction.create}"
                              data-tooltip-placement="left">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                  <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                      <th th:text="#{com.cagst.swkroa.date}" style="width:100px">zzz Date</th>
                      <th th:text="#{com.cagst.swkroa.membership.transaction.type}">zzz Type</th>
                      <th th:text="#{com.cagst.swkroa.desc}">zzz Desc</th>
                      <th th:text="#{com.cagst.swkroa.membership.transaction.amount}" style="width:100px">zzz Amount</th>
                      <th style="width:75px"></th>
                    </tr>
                    </thead>
                    <tbody data-ng-repeat="transaction in membership.transactions | orderBy: 'transactionDate': true"
                           data-ng-show="transaction.active">
                    <tr>
                      <td style="width:125px">
                        <div>
                          <a href="#" onclick="toggleTransactionDetails(this)">
                            <i class="fa fa-caret-right"></i>
                          </a>
                          {{transaction.transactionDate | date:'mediumDate'}}
                        </div>
                      </td>
                      <td>
                <span data-ng-show="transaction.transactionType == 'INVOICE'"
                      th:text="#{com.cagst.swkroa.membership.transaction.invoice}">
                </span>
                <span data-ng-show="transaction.transactionType == 'PAYMENT'"
                      th:text="#{com.cagst.swkroa.membership.transaction.payment}">
                </span>
                      </td>
                      <td>{{transaction.transactionDescription}}</td>
                      <td style="width:100px">
                        <div class="pull-right">
                          {{transaction.transactionAmount | currency}}
                        </div>
                      </td>
                      <td style="width:75px">
                        <div class="pull-right">
                          <button type="button" class="btn btn-primary btn-xs"
                                  data-ng-click="editTransaction(transaction)"
                                  th:attr="tooltip=#{com.cagst.swkroa.membership.transaction.update}"
                                  data-tooltip-placement="left">
                            <i class="fa fa-edit"></i>
                          </button>
                          <button type="button" class="btn btn-danger btn-xs"
                                  data-toggle="modal" data-target="#deleteTransaction"
                                  data-ng-click="deleteTransaction(transaction)"
                                  th:attr="tooltip=#{com.cagst.swkroa.membership.transaction.delete.title}"
                                  data-tooltip-placement="left">
                            <i class="fa fa-trash-o"></i>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr class="details hide" data-ng-repeat="entry in transaction.transactionEntries">
                      <td></td>
                      <td colspan="2">{{entry.transactionEntryType.display}}</td>
                      <td style="width:100px">
                        <div class="pull-right">
                          {{entry.transactionEntryAmount | currency}}
                        </div>
                      </td>
                      <td></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="divider-top split-footer">
            <div class="split-footer-content pull-right">
              <a class="btn btn-primary btn-xs" data-ng-href="memberships/{{membership.membershipUID}}">
                <span th:text="#{com.cagst.swkroa.details}">zzz Details</span>
              </a>
              <button type="button" class="btn btn-danger btn-xs"
                      data-toggle="modal" data-target="#closeMembershipsDlg"
                      data-ng-show="membership.active == true">
                <i class="fa fa-power-off"></i>
                <span th:text="#{com.cagst.swkroa.membership.close}">zzz Close</span>
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      data-toggle="modal" data-target="#openMembershipsDlg"
                      data-ng-show="membership.active == false">
                <i class="fa fa-circle-o-notch"></i>
                <span th:text="#{com.cagst.swkroa.membership.open}">zzz Open</span>
              </button>
            </div>
          </div>
        </div>

        <!-- Close Memberships Dialog -->
        <div class="modal fade" id="closeMembershipsDlg" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" th:text="#{com.cagst.swkroa.membership.close.title}">zzz Please confirm</h4>
              </div>
              <div class="modal-body">
                <p th:text="#{com.cagst.swkroa.membership.close.msg}">zzz Member</p>
                <label class="control-label"
                       data-ng-class="{'label-required': true}"
                       th:text="#{com.cagst.swkroa.membership.close.reason}">
                  zzz Close Reason
                </label>
                <select class="form-control"
                        data-ng-model="closeReason"
                        data-ng-required="true"
                        data-ng-options="reason.display for reason in closeReasons">
                </select>
                <label class="control-label"
                       data-ng-class="{'label-required': closeReason.meaning == 'CLOSE_OTHER'}"
                       th:text="#{com.cagst.swkroa.membership.close.text}">
                  zzz CloseText
                </label>
                <input type="text" class="form-control" name="companyName" maxlength="100"
                       data-ng-model="closeText"
                       data-ng-disabled="closeReason.meaning != 'CLOSE_OTHER'"
                       data-ng-required="closeReason.meaning == 'CLOSE_OTHER'" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-ng-click="closeMembership()"
                        data-ng-disabled="!canClose()"
                        th:text="#{com.cagst.swkroa.membership.close.button}">
                  zzz Delete
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"
                        th:text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- Open Membership Dialog -->
        <div class="modal fade" id="openMembershipsDlg" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" th:text="#{com.cagst.swkroa.membership.open.title}">zzz Please confirm</h4>
              </div>
              <div class="modal-body">
                <span th:text="#{com.cagst.swkroa.membership.open.message}">zzz Open this?</span>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger"
                        data-ng-click="openMembership()"
                        th:text="#{com.cagst.swkroa.membership.open.btn}">
                  zzz Delete
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal"
                        th:text="#{com.cagst.swkroa.cancel}">
                  zzz Cancel
                </button>
              </div>
            </div>
          </div>
        </div>

        <div th:include="membership/list/dlg_comment"></div>
        <div th:include="membership/list/dlg_transaction"></div>

      </div>
    </div>
  </div>

</div>

</body>
</html>