<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/membership.js}"></script>
</head>

<body data-ng-app="swkroaApp">
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-controller="MembershipController as ctrl" data-ng-cloak="">
  <!-- Membership Listing Page -->
  <div data-ng-show="ctrl.view == 'listing'">
    <div class="page-header">
      <h3 th:text="#{membership.overview}">z_Overview</h3>
      <div class="alert alert-success alert-dismissible" role="alert" data-ng-show="ctrl.created">
        <strong th:text="#{common.success}">z_Success</strong>
        <div th:text="#{membership.created}">z_Created</div>
      </div>
      <div class="alert alert-success alert-dismissible" role="alert" data-ng-show="ctrl.updated">
        <strong th:text="#{common.success}">z_Success</strong>
        <div th:text="#{membership.updated}">z_Updated</div>
      </div>
    </div>

    <div class="container-outline">
      <div class="row row-inner">
        <!-- Listing (Quick View) -->
        <div class="col-xs-5 stretch">
          <!-- Search -->
          <div class="split-header divider-right" data-ng-show="ctrl.filtering == 'off'">
            <div class="split-header-content expand">
              <div class="input-group">
                <a class="input-group-addon add-btn"
                   data-ng-click="ctrl.addMembership()"
                   th:attr="uib-tooltip=#{membership.add}"
                   data-tooltip-placement="right">
                  <i class="fa fa-plus"></i>
                </a>
                <input id="search" type="text" class="form-control"
                       th:placeholder="#{membership.search.prompt}"
                       data-ng-model="ctrl.query"
                       data-ng-keydown="ctrl.onQueryKeydown($event)" />
                <a class="input-group-addon btn btn-primary"
                   data-ng-click="ctrl.getMemberships()"
                   data-ng-disabled="ctrl.query.length < 2"
                   th:attr="uibt-ooltip=#{membership.search.tip}"
                   data-tooltip-placement="right">
                  <i class="fa fa-search"></i>
                </a>
              </div>

              <div class="input-group">
                <div class="input-group-addon">&nbsp;&nbsp;&nbsp;</div>
                <input type="text" class="form-control filter" readonly data-ng-model="ctrl.filterText" />
                <a class="input-group-addon btn"
                   data-ng-click="ctrl.showFilterOptions()"
                   th:attr="uib-tooltip=#{membership.filter.tip}"
                   data-tooltip-placement="right">
                  <i class="fa fa-filter"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Filter Options -->
          <div class="split-header" data-ng-show="ctrl.filtering == 'on'">
            <div class="split-header-content expand">
              <div class="row">
                <label for="filterStatus" class="col-xs-2">Status</label>
                <select id="filterStatus" class="col-xs-8" data-ng-model="ctrl.filterStatus">
                  <option value="ALL" th:text="#{membership.filter.all}">z_All</option>
                  <option value="ACTIVE" th:text="#{membership.filter.active}">z_Active</option>
                  <option value="INACTIVE" th:text="#{membership.filter.inactive}">z_Inactive</option>
                </select>
              </div>
              <div class="row">
                <label for="filterBalance" class="col-xs-2">Balance</label>
                <select id="filterBalance" class="col-xs-8" data-ng-model="ctrl.filterBalance">
                  <option value="ALL" th:text="#{membership.filter.all}">z_All</option>
                  <option value="DELINQUENT" th:text="#{membership.filter.delinquent}">z_Delinquent</option>
                  <option value="PAID" th:text="#{membership.filter.paid}">z_Delinquent</option>
                  <option value="CREDIT" th:text="#{membership.filter.credit}">z_Credit</option>
                </select>
              </div>
              <div class="row-inner">
                <span class="col-xs-offset-2 col-xs-8">
                  <button type="button" class="btn btn-primary btn-sm"
                          data-ng-click="ctrl.applyFilter()"
                          th:text="#{membership.filter.apply}">
                    z_Filter
                  </button>
                  <button type="button" class="btn btn-default btn-sm"
                          data-ng-click="ctrl.cancelFilter()"
                          th:text="#{common.cancel}">
                    z_Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>

          <!-- Results -->
          <div class="list-group constrain-view divider-right">
            <div>
              <div class="panel-body text-muted divider-top" data-ng-show="!ctrl.memberships.length">
                <em th:text="#{membership.nosearch}"
                    data-ng-show="!ctrl.searched">
                  z_NoSearch
                </em>
                <em th:text="#{membership.nomemberships}"
                    data-ng-show="ctrl.searched">
                  z_NoMemberships
                </em>
              </div>
              <div data-ng-show="ctrl.memberships.length">
                <div class="list-group-item alt-list-group-item sel-list-group-item"
                     data-ng-repeat="mem in ctrl.memberships"
                     data-ng-class="{active: mem.membershipUID === membership.membershipUID}"
                     data-ng-click="ctrl.getMembership(mem.membershipUID)">
                  <div>
                    <span data-ng-bind="mem.membershipName" class="lead lead-in">z_MembershipName</span>
                    <span th:text="#{membership.member.since}"
                          data-ng-if="mem.joinDate != null" class="pull-right">
                      z_MemberSince
                    </span>
                  </div>
                  <div>
                    <span th:text="#{membership.dues}">z_Dues</span>
                    <span class="pull-right text-danger"
                          th:text="#{membership.pastdue}"
                          data-ng-show="mem.balance < 0">
                      z_PastDue
                    </span>
                    <span class="pull-right text-success"
                          th:text="#{membership.credit}"
                          data-ng-show="mem.balance > 0">
                      z_Credit
                    </span>
                    <span class="pull-right"
                          th:text="#{membership.paid}"
                          data-ng-show="mem.balance === 0">
                      z_Paid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Details (Summary) -->
        <div class="col-xs-7 stretch pull-right">
          <div data-ng-show="!ctrl.membership">
            <em>
              <label class="panel-body text-muted text-center" th:text="#{membership.notselected}">z_NoneSelected</label>
            </em>
          </div>
          <div data-ng-show="ctrl.membership">
            <div class="container-inner constrain-view" style="min-height:540px; max-height:540px;">
              <div class="row row-inner">
                <div class="pull-left">
                  <h2 class="lead">
                    <span data-ng-bind="ctrl.membership.primaryMember.memberName"></span>
                    <small th:text="#{membership.member.detail.primary.since}"
                           data-ng-show="ctrl.membership.primaryMember.joinDate">
                      z_Since
                    </small>
                  </h2>
                </div>
                <div class="container-medium panel panel-default pull-right">
                  <div class="panel-heading">
                    <a href="#" data-ng-click="ctrl.toggleShowCalculations()">
                      <i class="fa fa-caret-right" data-ng-show="!ctrl.showCalculations"></i>
                      <i class="fa fa-caret-down" data-ng-show="ctrl.showCalculations"></i>
                    </a>
                    <span class="panel-text" th:text="#{membership.calc.title}">z_DuesCalculation</span>
                  </div>
                  <div class="panel-body" data-ng-show="ctrl.showCalculations">
                    <div class="row row-inner"
                         data-ng-repeat="member in ctrl.membership.members"
                         data-ng-show="member.memberType.duesAmount > 0">
                      <span class="col-xs-8" data-ng-bind="member.memberType.memberTypeDisplay"></span>
                      <span class="col-xs-4">
                        <span class="pull-right" data-ng-bind="member.memberType.duesAmount | currency"></span>
                      </span>
                    </div>
                    <div class="row row-inner" data-ng-show="ctrl.membership.incrementalDues > 0">
                      <span class="col-xs-8" th:text="#{membership.calc.incremental}">z_Incremental</span>
                      <span class="col-xs-4">
                        <span class="pull-right" data-ng-bind="ctrl.membership.incrementalDues | currency"></span>
                      </span>
                    </div>
                  </div>
                  <div class="panel-footer" data-ng-show="ctrl.showCalculations">
                    <div class="row row-inner">
                      <span class="col-xs-8" th:text="#{membership.calc.total}">z_Total</span>
                      <span class="col-xs-4">
                        <span class="pull-right" data-ng-bind="ctrl.membership.calculatedDuesAmount | currency"></span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div>
                <!-- List Members -->
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title" th:text="#{membership.members}">z_Members</span>
                  </div>
                  <ul class="list-group list-group-hover">
                    <li class="list-group-item" data-ng-show="ctrl.membership.primaryMember">
                      <span>
                        <strong data-ng-bind="ctrl.membership.primaryMember.memberName"></strong>
                      </span>
                      <small class="text-muted" data-ng-bind-template="({{ctrl.membership.primaryMember.ownerIdent}})"></small>
                      <div class="pull-right">
                        <small class="text-muted" th:text="#{membership.member.detail.primary.since}"
                               data-ng-show="ctrl.membership.primaryMember.joinDate">
                          z_Since
                        </small>
                      </div>
                    </li>
                    <li class="list-group-item" data-ng-repeat="member in ctrl.membership.members"
                         data-ng-show="member.memberType.primary === false && member.active === true">
                      <span data-ng-bind-template="{{member.memberName}}"></span>
                      <small class="text-muted" data-ng-bind-template="({{member.ownerIdent}})"></small>
                      <div class="pull-right">
                        <small class="text-muted" th:text="#{membership.member.detail.since}">z_Since</small>
                      </div>
                    </li>
                  </ul>
                </div>

                <!-- List Comments -->
                <div th:include="membership/list/detail_comments"></div>

                <!-- List Transactions -->
                <div th:include="membership/list/detail_transactions"></div>
              </div>
            </div>

            <div class="divider-top split-footer">
              <div class="split-footer-content pull-right">
                <button type="button" class="btn btn-primary btn-xs"
                        data-ng-click="ctrl.editMembership()">
                  <i class="fa fa-edit"></i>
                  <span th:text="#{common.edit}">z_Edit</span>
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#closeMembershipsDlg"
                        data-ng-show="ctrl.membership.active == true">
                  <i class="fa fa-power-off"></i>
                  <span th:text="#{membership.close}">z_Close</span>
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#openMembershipsDlg"
                        data-ng-show="ctrl.membership.active == false">
                  <i class="fa fa-circle-o-notch"></i>
                  <span th:text="#{membership.open}">z_Open</span>
                </button>
              </div>
            </div>
          </div>

          <!-- Close Memberships Dialog -->
          <div class="modal fade" id="closeMembershipsDlg" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" th:text="#{membership.close.title}">z_Close</h4>
                </div>
                <div class="modal-body">
                  <p th:text="#{membership.close.msg}">z_MemberClose</p>
                  <label for="closeReason" class="control-label"
                         data-ng-class="{'label-required': true}"
                         th:text="#{membership.close.reason}">
                    z_CloseReason
                  </label>
                  <select id="closeReason" class="form-control"
                          data-ng-model="ctrl.closeReason"
                          data-ng-required="true"
                          data-ng-options="reason.display for reason in ctrl.closeReasons">
                  </select>
                  <label for="companyName" class="control-label"
                         data-ng-class="{'label-required': closeReason.meaning == 'CLOSE_OTHER'}"
                         th:text="#{membership.close.text}">
                    z_CloseText
                  </label>
                  <input id="companyName" name="companyName" type="text" class="form-control" maxlength="100"
                         data-ng-model="ctrl.closeText"
                         data-ng-disabled="ctrl.closeReason.meaning != 'CLOSE_OTHER'"
                         data-ng-required="ctrl.closeReason.meaning == 'CLOSE_OTHER'" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                          data-ng-click="ctrl.closeMembership()"
                          data-ng-disabled="!ctrl.canClose()"
                          th:text="#{membership.close.button}">
                    zzz Delete
                  </button>
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal"
                          th:text="#{common.cancel}">
                    zzz Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Open Membership Dialog -->
          <div class="modal fade" id="openMembershipsDlg" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" th:text="#{membership.open.title}">z_OpenMembership</h4>
                </div>
                <div class="modal-body">
                  <span th:text="#{membership.open.message}">z_OpenMsg</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                          data-ng-click="ctrl.openMembership()"
                          th:text="#{membership.open.btn}">
                    z_Open
                  </button>
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal"
                          th:text="#{common.cancel}">
                    z_Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div th:include="membership/list/dlg_comment"></div>
          <div th:include="membership/list/dlg_transaction"></div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modify (Add/Edit) Membership Page -->
  <div data-ng-show="ctrl.view == 'add' || ctrl.view == 'edit'">
    <div class="page-header">
      <h3 th:text="#{membership.add}" data-ng-show="ctrl.membership.membershipUID == 0">z_AddMembership</h3>
      <h3 th:text="#{membership.edit}" data-ng-show="ctrl.membership.membershipUID > 0">z_EditMembership</h3>
    </div>

    <form method="POST" name="membershipForm" novalidate class="css-form"
          confirm-on-exit data-has-changes="ctrl.hasChanges()"
          data-ng-submit="ctrl.saveMembership()">
      <div th:include="membership/modify/section_membership"></div>
      <div th:include="membership/modify/section_counties"></div>
      <div th:include="membership/modify/section_members"
           data-ng-show="ctrl.membership.primaryMember.memberType.allowMember ||
                         ctrl.membership.members.length > 0"></div>

      <div class="spacer-top">
        <div class="divider-top">
          <div class="spacer-top">
            <button type="submit"
                    class="btn btn-primary"
                    th:text="#{membership.create}"
                    data-ng-show="ctrl.membership.membershipUID == 0"
                    data-ng-disabled="!ctrl.hasChanges() || membershipForm.$invalid">
            </button>
            <button type="submit"
                    class="btn btn-primary"
                    th:text="#{membership.update}"
                    data-ng-show="ctrl.membership.membershipUID > 0"
                    data-ng-disabled="!ctrl.hasChanges() || membershipForm.$invalid">
            </button>
            <button type="button" class="btn btn-default"
                    data-ng-click="ctrl.cancelChanges()"
                    th:text="#{common.cancel}">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

</body>
</html>