<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">

<head>
  <script type="text/javascript" th:src="@{/static/ui-utils-0.1.1/ui-utils.min.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/membership.js}"></script>
</head>

<body>

<div data-layout-fragment="content" data-ng-app="swkroaApp" data-ng-controller="membershipController">
  <!-- Membership Listing Page -->
  <div data-ng-show="view == 'listing'">
    <div class="page-header">
      <h3 th:text="#{com.cagst.swkroa.membership.overview}">zzz Membership Overview</h3>
      <div id="createdMessage" class="alert alert-success alert-dismissible" role="alert">
        <strong>Success!</strong>
        <div th:text="#{com.cagst.swkroa.membership.save.created}">zzz Created</div>
      </div>
      <div id="updatedMessage" class="alert alert-success alert-dismissible" role="alert">
        <strong>Success!</strong>
        <div th:text="#{com.cagst.swkroa.membership.save.updated}">zzz Updated</div>
      </div>
    </div>
    <div class="container-outline">
      <div class="row row-inner">
        <!-- Listing (Quick View) -->
        <div class="col-xs-5 stretch">
          <!-- Search -->
          <div class="split-header divider-right" data-ng-show="filtering == 'off'">
            <div class="split-header-content expand">
              <div class="input-group">
                <a class="input-group-addon add-btn"
                   data-ng-click="addMembership()"
                   th:attr="uib-tooltip=#{com.cagst.swkroa.membership.add}"
                   data-tooltip-placement="right">
                  <i class="fa fa-plus"></i>
                </a>
                <input type="text" class="form-control" autofocus="autofocus"
                       th:placeholder="#{com.cagst.swkroa.membership.search.prompt}"
                       data-ng-model="query"
                       data-ng-keydown="queryKeydown($event)" />
                <a class="input-group-addon btn btn-primary"
                   data-ng-click="getMemberships()"
                   data-ng-disabled="query.length < 2"
                   th:attr="uibt-ooltip=#{com.cagst.swkroa.membership.search.tip}"
                   data-tooltip-placement="right">
                  <i class="fa fa-search"></i>
                </a>
              </div>

              <div class="input-group">
                <div class="input-group-addon">
                  &nbsp;&nbsp;&nbsp;
                </div>
                <input type="text" class="form-control filter" readonly
                       data-ng-model="filterText" />
                <a class="input-group-addon btn"
                   data-ng-click="showFilterOptions()"
                   th:attr="uib-tooltip=#{com.cagst.swkroa.membership.filter.tip}"
                   data-tooltip-placement="right">
                  <i class="fa fa-filter"></i>
                </a>
              </div>
            </div>
          </div>

          <!-- Filter Options -->
          <div class="split-header" data-ng-show="filtering == 'on'">
            <div class="split-header-content expand">
              <div class="row">
                <label for="filterStatus" class="col-xs-2">Status</label>
                <select id="filterStatus" class="col-xs-8" data-ng-model="filterStatus">
                  <option value="ALL" th:text="#{com.cagst.swkroa.membership.filter.all}">
                    zzz All
                  </option>
                  <option value="ACTIVE" th:text="#{com.cagst.swkroa.membership.filter.active}">
                    zzz Active
                  </option>
                  <option value="INACTIVE" th:text="#{com.cagst.swkroa.membership.filter.inactive}">
                    zzz Inactive
                  </option>
                </select>
              </div>
              <div class="row">
                <label for="filterBalance" class="col-xs-2">Balance</label>
                <select id="filterBalance" class="col-xs-8" data-ng-model="filterBalance">
                  <option value="ALL" th:text="#{com.cagst.swkroa.membership.filter.all}">
                    zzz All
                  </option>
                  <option value="DELINQUENT" th:text="#{com.cagst.swkroa.membership.filter.delinquent}">
                    zzz Credit
                  </option>
                  <option value="PAID" th:text="#{com.cagst.swkroa.membership.filter.paid}">
                    zzz Delinquent
                  </option>
                  <option value="CREDIT" th:text="#{com.cagst.swkroa.membership.filter.credit}">
                    zzz Paid
                  </option>
                </select>
              </div>
              <div class="row-inner">
                <span class="col-xs-offset-2 col-xs-8">
                  <button type="button" class="btn btn-primary btn-sm"
                          data-ng-click="applyFilter()"
                          th:text="#{com.cagst.swkroa.membership.filter.apply}">
                    zzz Apply Filter
                  </button>
                  <button type="button" class="btn btn-default btn-sm"
                          data-ng-click="cancelFilter()"
                          th:text="#{com.cagst.swkroa.cancel}">
                    zzz Cancel
                  </button>
                </span>
              </div>
            </div>
          </div>

          <!-- Results -->
          <div class="list-group constrain-view divider-right">
            <div>
              <div class="panel-body text-muted divider-top" data-ng-show="!memberships.length">
                <em th:text="#{com.cagst.swkroa.membership.nosearch}"
                    data-ng-show="!searched">
                  zzz No Search
                </em>
                <em th:text="#{com.cagst.swkroa.membership.nomemberships}"
                    data-ng-show="searched">
                  zzz No memberships
                </em>
              </div>
              <div data-ng-show="memberships.length">
                <div class="list-group-item alt-list-group-item sel-list-group-item"
                     data-ng-repeat="mem in memberships"
                     data-ng-class="{active: mem.membershipUID === membership.membershipUID}"
                     data-ng-click="getMembership(mem.membershipUID)">
                  <div class="lead lead-in">
                    <span data-ng-bind="mem.membershipName">zzz Membership Name</span>
                    <span data-ng-show="mem.memberTypeMeaning == 'REGULAR'"
                          th:attr="uib-tooltip=#{com.cagst.swkroa.membership.type.regular}"
                          data-tooltip-placement="left"
                          class="pull-right">
                      <i class="fa fa-user"></i>
                    </span>
                    <span data-ng-show="mem.memberTypeMeaning == 'FAMILY_HEAD'"
                          th:attr="uib-tooltip=#{com.cagst.swkroa.membership.type.family}"
                          data-tooltip-placement="left"
                          class="pull-right">
                      <i class="fa fa-users"></i>
                    </span>
                  </div>
                  <div data-ng-if="mem.joinDate != null">
                    <span th:text="#{com.cagst.swkroa.membership.member.since}">zzz Member Since</span>
                  </div>
                  <div>
                    <span th:text="#{com.cagst.swkroa.membership.fixed.dues}">zzz Dues Of</span>
                    <span th:text="#{com.cagst.swkroa.membership.calculated.dues}" class="text-warning"
                          data-ng-show="mem.effectiveDuesAmount != mem.calculatedDuesAmount">
                      zzz Calculated Dues
                    </span>
                    <span class="pull-right text-danger"
                          th:text="#{com.cagst.swkroa.membership.pastdue}"
                          data-ng-show="mem.balance < 0">
                      zzz Past Due
                    </span>
                    <span class="pull-right text-success"
                          th:text="#{com.cagst.swkroa.membership.credit}"
                          data-ng-show="mem.balance > 0">
                      zzz Credit
                    </span>
                    <span class="pull-right"
                          th:text="#{com.cagst.swkroa.membership.paid}"
                          data-ng-show="mem.balance === 0">
                      zzz Paid
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Details (Summary) -->
        <div class="col-xs-7 stretch pull-right">
          <div data-ng-show="!membership">
            <em>
              <label class="panel-body text-muted text-center"
                     th:text="#{com.cagst.swkroa.membership.notselected}">
                zzz No membership selected.
              </label>
            </em>
          </div>
          <div data-ng-show="membership">
            <div class="container-inner constrain-view" style="min-height:540px; max-height:540px;">
              <div class="row row-inner">
                <div class="pull-left">
                  <h2 class="lead">
                    <span data-ng-bind="membership.primaryMember.memberName"></span>
                    <small th:text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                           data-ng-show="membership.primaryMember.joinDate">
                      zzz Since
                    </small>
                  </h2>
                </div>
                <div class="container-medium panel panel-default pull-right">
                  <div class="panel-heading">
                    <a href="#" data-ng-click="toggleShowCalculations()">
                      <i class="fa fa-caret-right" data-ng-show="!showCalculations"></i>
                      <i class="fa fa-caret-down" data-ng-show="showCalculations"></i>
                    </a>
                    <span class="panel-text" th:text="#{com.cagst.swkroa.membership.calc.title}">
                      zzz Dues Calculation
                    </span>
                  </div>
                  <div class="panel-body" data-ng-show="showCalculations">
                    <div class="row row-inner"
                         data-ng-repeat="member in membership.members"
                         data-ng-show="member.memberType.duesAmount > 0">
                      <span class="col-xs-8" data-ng-bind="member.memberType.memberTypeDisplay"></span>
                      <span class="col-xs-4">
                        <span class="pull-right">
                          {{member.memberType.duesAmount | currency}}
                        </span>
                      </span>
                    </div>
                    <div class="row row-inner" data-ng-show="membership.incrementalDues > 0">
                      <span class="col-xs-8" th:text="#{com.cagst.swkroa.membership.calc.incremental}">zzz Incremental Dues</span>
                      <span class="col-xs-4">
                        <span class="pull-right">
                          {{membership.incrementalDues | currency}}
                        </span>
                      </span>
                    </div>
                  </div>
                  <div class="panel-footer" data-ng-show="showCalculations">
                    <div class="row row-inner">
                      <span class="col-xs-8" th:text="#{com.cagst.swkroa.membership.calc.total}">
                        zzz Total
                      </span>
                      <span class="col-xs-4">
                        <span class="pull-right">
                          {{membership.calculatedDuesAmount | currency}}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <span class="panel-title" th:text="#{com.cagst.swkroa.membership.members}">
                      zzz Members
                    </span>
                  </div>
                  <ul class="list-group list-group-hover">
                    <li class="list-group-item" data-ng-show="membership.primaryMember">
                      <span>
                        <strong data-ng-bind="membership.primaryMember.memberName"></strong>
                      </span>
                      <small class="text-muted">({{membership.primaryMember.ownerIdent}})</small>
                      <small class="text-muted" th:text="#{com.cagst.swkroa.membership.member.detail.primary.since}"
                             data-ng-show="membership.primaryMember.joinDate">
                        zzz Since
                      </small>
                    </li>
                    <li class="list-group-item" data-ng-repeat="member in membership.members"
                         data-ng-show="member.memberType.primary === false && member.active === true">
                      <span>{{member.memberName}}</span>
                      <small class="text-muted">({{member.ownerIdent}})</small>
                      <small class="text-muted" th:text="#{com.cagst.swkroa.membership.member.detail.since}">
                        zzz Since
                      </small>
                    </li>
                  </ul>
                </div>
                <div class="spacer-top">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <span class="panel-title" th:text="#{com.cagst.swkroa.membership.counties}">
                        zzz Counties
                      </span>
                    </div>
                    <ul class="list-group list-group-hover" data-ng-repeat="membershipCounty in membership.membershipCounties">
                      <li class="list-group-item" data-ng-class="{text_bold: membershipCounty.votingCounty === true}">
                        {{membershipCounty.county.countyName}}
                        <small class="text-muted text_normal"
                               th:text="#{com.cagst.swkroa.membership.member.detail.county}">
                          zzz County Details
                        </small>
                      </li>
                    </ul>
                  </div>
                </div>

                <div th:include="membership/list/detail_comments"></div>
                <div th:include="membership/list/detail_transactions"></div>
              </div>
            </div>

            <div class="divider-top split-footer">
              <div class="split-footer-content pull-right">
                <button type="button" class="btn btn-primary btn-xs"
                        data-ng-click="editMembership()">
                  <i class="fa fa-edit"></i>
                  <span th:text="#{com.cagst.swkroa.edit}">zzz Edit</span>
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#closeMembershipsDlg"
                        data-ng-show="membership.active == true">
                  <i class="fa fa-power-off"></i>
                  <span th:text="#{com.cagst.swkroa.membership.close}">zzz Close</span>
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#openMembershipsDlg"
                        data-ng-show="membership.active == false">
                  <i class="fa fa-circle-o-notch"></i>
                  <span th:text="#{com.cagst.swkroa.membership.open}">zzz Open</span>
                </button>
              </div>
            </div>
          </div>

          <!-- Close Memberships Dialog -->
          <div class="modal fade" id="closeMembershipsDlg" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" th:text="#{com.cagst.swkroa.membership.close.title}">zzz Please confirm</h4>
                </div>
                <div class="modal-body">
                  <p th:text="#{com.cagst.swkroa.membership.close.msg}">zzz Member</p>

                  <label for="closeReason" class="control-label"
                         data-ng-class="{'label-required': true}"
                         th:text="#{com.cagst.swkroa.membership.close.reason}">
                    zzz Close Reason
                  </label>
                  <select id="closeReason" class="form-control"
                          data-ng-model="closeReason"
                          data-ng-required="true"
                          data-ng-options="reason.display for reason in closeReasons">
                  </select>
                  <label for="companyName" class="control-label"
                         data-ng-class="{'label-required': closeReason.meaning == 'CLOSE_OTHER'}"
                         th:text="#{com.cagst.swkroa.membership.close.text}">
                    zzz CloseText
                  </label>
                  <input id="companyName" name="companyName" type="text" class="form-control" maxlength="100"
                         data-ng-model="closeText"
                         data-ng-disabled="closeReason.meaning != 'CLOSE_OTHER'"
                         data-ng-required="closeReason.meaning == 'CLOSE_OTHER'" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                          data-ng-click="closeMembership()"
                          data-ng-disabled="!canClose()"
                          th:text="#{com.cagst.swkroa.membership.close.button}">
                    zzz Delete
                  </button>
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal"
                          th:text="#{com.cagst.swkroa.cancel}">
                    zzz Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!-- Open Membership Dialog -->
          <div class="modal fade" id="openMembershipsDlg" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" th:text="#{com.cagst.swkroa.membership.open.title}">zzz Please confirm</h4>
                </div>
                <div class="modal-body">
                  <span th:text="#{com.cagst.swkroa.membership.open.message}">zzz Open this?</span>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger"
                          data-ng-click="openMembership()"
                          th:text="#{com.cagst.swkroa.membership.open.btn}">
                    zzz Delete
                  </button>
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal"
                          th:text="#{com.cagst.swkroa.cancel}">
                    zzz Default
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div th:include="membership/list/dlg_comment"></div>
          <div th:include="membership/list/dlg_transaction"></div>

        </div>
      </div>
    </div>
  </div>

  <!-- Modify (Add/Edit) Membership Page -->
  <div data-ng-show="view == 'add' || view == 'edit'">
    <div class="page-header">
      <h3 th:text="#{com.cagst.swkroa.membership.add}" data-ng-show="membership.membershipUID == 0">
        zzz Add Membership
      </h3>
      <input id="membershipId" type="hidden" th:value="${membershipId}" />

      <h3 th:text="#{com.cagst.swkroa.membership.edit}" data-ng-show="membership.membershipUID > 0">
        zzz Edit Membership
      </h3>
    </div>

    <form method="POST" name="membershipForm" novalidate data-ng-submit="save()" class="css-form">
      <div th:include="membership/modify/section_membership"></div>
      <div th:include="membership/modify/section_counties"></div>
      <div th:include="membership/modify/section_members"
           data-ng-show="membership.primaryMember.memberType.allowMember ||
                         membership.members.length > 0"></div>

      <div class="spacer-top">
        <div class="divider-top">
          <div class="spacer-top">
            <button type="submit"
                    class="btn btn-primary"
                    th:text="#{com.cagst.swkroa.membership.create}"
                    data-ng-show="membership.membershipUID == 0"
                    data-ng-disabled="membershipForm.$invalid">
            </button>
            <button type="submit"
                    class="btn btn-primary"
                    th:text="#{com.cagst.swkroa.membership.update}"
                    data-ng-show="membership.membershipUID > 0"
                    data-ng-disabled="hasChanges(membership) || membershipForm.$invalid">
            </button>
            <button type="button" class="btn btn-default"
                    data-ng-click="cancelChanges()"
                    th:text="#{com.cagst.swkroa.cancel}">
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

</body>
</html>