<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />
</head>

<body>
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-app="swkroaApp" data-ng-controller="memberController">
  <input id="membershipUID" type="hidden" th:value="${membershipUID}"/>

  <div data-ng-show="membership">
    <h1 data-ng-if="membership.primaryMember.memberType.memberTypeMeaning == 'ASSOCIATE'">
      <span th:text="#{member.type.associate}">zzz Associate</span>
    </h1>
    <h1 data-ng-if="membership.primaryMember.memberType.memberTypeMeaning == 'FAMILY_HEAD'">
      <span th:text="#{member.type.family}">zzz Family</span>
    </h1>
    <h1 data-ng-if="membership.primaryMember.memberType.memberTypeMeaning == 'REGULAR'">
      <span th:text="#{member.type.regular}">zzz Regular</span>
    </h1>

    <!-- Primary Member / Membership -->
    <div class="panel panel-default">
      <div class="panel-heading">
      <span class="panel-title" th:text="#{member.primary.heading}">
        zzz Primary Member
      </span>
      </div>

      <div class="panel-body">
        <!-- Primary Member -->
        <div>
          <span data-ng-bind="membership.membershipName" class="lead lead-in">zzz Membership Name</span>
          <small>(<span data-ng-bind="membership.primaryMember.ownerIdent">zzz Owner Id</span>)</small>
          <span th:text="#{member.membership.member.since}"
                data-ng-if="membership.joinDate != null" class="pull-right">
            zzz Member Since
          </span>
        </div>

        <!-- Spouse -->
        <div data-ng-show="membership.spouse">
          <span th:text="#{member.spouse}">zzz Spouse</span>
          <small>(<span data-ng-bind="membership.spouse.ownerIdent">zzz Spouse Owner Id</span>)</small>
        </div>

        <!-- Dues -->
        <div>
          <span th:text="#{member.membership.dues}">
            zzz Dues Of
          </span>
          <span class="pull-right text-danger"
                th:text="#{member.membership.pastdue}"
                data-ng-show="membership.balance < 0">
            zzz Past Due
          </span>
          <span class="pull-right text-success"
                th:text="#{member.membership.credit}"
                data-ng-show="membership.balance > 0">
            zzz Credit
          </span>
          <span class="pull-right"
                th:text="#{member.membership.paid}"
                data-ng-show="membership.balance === 0">
            zzz Paid
          </span>
        </div>

        <!-- Addresses -->
        <div data-ng-show="membership.primaryMember.addresses.length > 0">
          <h4 class="divider-bottom">Addresses</h4>

          <div data-ng-repeat="address in membership.primaryMember.addresses" class="row">
            <div class="col-xs-1">
              <strong data-ng-bind="contactService.getAddressTypeDisplay(address, addressTypes)"></strong>
            </div>
            <div class="col-xs-4">
              <div data-ng-bind="address.addressLine1"></div>
              <div data-ng-bind="address.addressLine2"></div>
              <div data-ng-bind="address.addressLine3"></div>
              <div>
                {{address.city}}, {{address.state}} {{address.postalCode | zip}}
              </div>
            </div>
          </div>
        </div>

        <!-- Phone Numbers -->
        <div data-ng-show="membership.primaryMember.phoneNumbers.length > 0">
          <h4 class="divider-bottom">Phone Numbers</h4>

          <div data-ng-repeat="phone in membership.primaryMember.phoneNumbers" class="row">
            <div class="col-xs-1">
              <strong data-ng-bind="contactService.getPhoneTypeDisplay(phone, phoneTypes)"></strong>
            </div>
            <div class="col-xs=4">
          <span>
            {{phone.phoneNumber | tel}}
          </span>
              <span data-ng-show="phone.phoneExtension">
            Ext. {{phone.phoneExtension}}
          </span>
            </div>
          </div>
        </div>

        <!-- Email Addresses -->
        <div data-ng-show="membership.primaryMember.emailAddresses.length > 0">
          <h4 class="divider-bottom">Email Addresses</h4>

          <div data-ng-repeat="email in membership.primaryMember.emailAddresses" class="row">
            <div class="col-xs-1">
              <strong data-ng-bind="contactService.getEmailTypeDisplay(email, emailTypes)"></strong>
            </div>
            <div class="col-xs=4">
              <span data-ng-bind="email.emailAddress"></span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" th:src="@{/static/js/member/member.js}"></script>
</body>
</html>