<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />
</head>

<body>
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content" data-ng-app="swkroaApp" data-ng-controller="memberController" data-ng-cloak>
  <input id="membershipUID" type="hidden" th:value="${membershipUID}"/>

  <div>
    <span data-ng-bind="membership.membershipName" class="lead lead-in">
      zzz Membership Name
    </span>
    <span th:text="#{member.membership.member.since}"
          data-ng-if="membership.joinDate != null" class="pull-right">
      zzz Member Since
    </span>
  </div>

  <div>
    <span th:text="#{member.membership.dues}">
      zzz Dues Of
    </span>
    <span class="pull-right text-danger"
          th:text="#{member.membership.pastdue}"
          data-ng-show="membership.balance < 0">
      zzz Past Due
    </span>
    <span class="pull-right text-success"
          th:text="#{member.membership.credit}"
          data-ng-show="membership.balance > 0">
      zzz Credit
    </span>
    <span class="pull-right"
          th:text="#{member.membership.paid}"
          data-ng-show="membership.balance === 0">
      zzz Paid
    </span>
  </div>
</div>

  <script type="text/javascript" th:src="@{/static/js/member.js}"></script>
</body>
</html>