<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />
</head>

<body>
<div th:replace="fragments/main :: header"></div>
<div th:replace="fragments/main :: navigation"></div>

<div id="page-content">
  <input id="membershipUID" type="hidden" th:value="${membershipUID}"/>

  <h1 th:text="#{member.transaction.page}">zzz Transactions</h1>

  <div class="panel-body clear-padding">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th th:text="#{common.date}" style="width:100px">zzz Date</th>
        <th th:text="#{common.type}">zzz Type</th>
        <th th:text="#{common.desc}">zzz Desc</th>
        <th th:text="#{member.transaction.amount}" style="width:100px; text-align:right">zzz Amount</th>
      </tr>
      </thead>
      <tbody th:each="tx : ${transactions}">
      <tr>
        <td style="width:125px">
          <div>
            <a href="#" onclick="toggleTransactionDetails(this)">
              <i class="fa fa-caret-right"></i>
            </a>
            <span th:text="${#dates.format(tx.transactionDate, 'MMM dd, yyyy')}"></span>
          </div>
        </td>
        <td>
          <span th:if="${tx.transactionType == T(com.cagst.swkroa.transaction.TransactionType).INVOICE}"
                th:text="#{membership.transaction.invoice}">
          </span>
          <span th:if="${tx.transactionType == T(com.cagst.swkroa.transaction.TransactionType).PAYMENT}"
                th:text="#{membership.transaction.payment}">
          </span>
          <div class="pull-right">
            <a class="btn btn-default btn-xs"
               target="_blank"
               th:if="${tx.documentUID > 0}"
               th:href="@{'/member/documents/' + ${tx.documentUID}}">
              <i class="fa fa-binoculars"></i>
              <span th:text="#{maintain.documents.action.view}">zzz View</span>
            </a>
          </div>
        </td>
        <td th:text="${tx.transactionDescription}"></td>
        <td style="width:100px">
          <div class="pull-right" th:text="${'$' + #numbers.formatDecimal(tx.transactionAmount, 0, 'COMMA', 2, 'POINT')}"></div>
        </td>
      </tr>
      <tr class="details hide" th:each="entry : ${tx.transactionEntries}">
        <td></td>
        <td colspan="2" th:text="${entry.transactionEntryType.display}"></td>
        <td style="width:100px">
          <div class="pull-right" th:text="${'$' + #numbers.formatDecimal(entry.transactionEntryAmount, 0, 'COMMA', 2, 'POINT')}">Amount</div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<script type="text/javascript" th:src="@{/static/js/member/transactions.js}"></script>
</body>
</html>