<div data-th-fragment="primaryAddress">
  <div class="row spacer-top">
    <div class="col-xs-4">
      <div class="divider-inner-row">
        <span data-th-text="#{com.cagst.swkroa.membership.member.address.label}">zzz Addresses</span>
        <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                data-ng-click="contactService.addAddress(membership.primaryMember)">
          <i class="fa fa-plus"></i>
          <span data-th-text="#{com.cagst.swkroa.membership.member.address.add}">zzz Add Address</span>
        </button>
      </div>
      <div data-ng-repeat="address in membership.primaryMember.addresses"
           data-ng-show="address.active"
           data-ng-form="addressForm"
           class="grouper">
        <div class="row spacer-top">
          <div class="col-xs-4" data-ng-class="{'has-error': addressForm.addressType.$invalid}">
            <select class="form-control" name="addressType"
                    data-ng-options="type.codeValueUID as type.display for type in addressTypes"
                    data-ng-model="address.addressTypeCD"
                    data-ng-required="address.active">
            </select>
          </div>
          <div class="col-xs-4">
            <input id="primaryAddress" type="checkbox"
                   data-ng-model="address.primary"
                   data-ng-change="contactService.ensurePrimaryAddress(membership.primaryMember, address)" />
            <label for="primaryAddress" data-th-text="#{com.cagst.swkroa.membership.member.address.primary}">
              zzz Primary Address
            </label>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.removeAddress(membership.primaryMember, address)">
              <i class="fa fa-trash-o"></i>
              <span data-th-text="#{com.cagst.swkroa.membership.member.address.remove}">zzz Remove Address</span>
            </button>
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-12" data-ng-class="{'has-error': addressForm.address1.$invalid}">
            <input type="text" class="form-control" name="address1" maxlength="50"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.address.line1}"
                   data-ng-model="address.addressLine1"
                   data-ng-required="address.active" />
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-12">
            <input type="text" class="form-control" maxlength="50"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.address.line2}"
                   data-ng-model="address.addressLine2" />
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-12">
            <input type="text" class="form-control" maxlength="50"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.address.line3}"
                   data-ng-model="address.addressLine3" />
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-4" data-ng-class="{'has-error': addressForm.city.$invalid}">
            <input type="text" class="form-control" name="city" maxlength="50"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.address.city}"
                   data-ng-model="address.city"
                   data-ng-required="address.active" />
          </div>
          <div class="col-xs-4" data-ng-class="{'has-error': addressForm.addressState.$invalid}">
            <select class="form-control" name="addressState"
                    data-ng-model="address.state"
                    data-ng-options="state.code as state.name for state in states"
                    data-ng-required="address.active">
            </select>
          </div>
          <div class="col-xs-4" data-ng-class="{'has-error': addressForm.postalCode.$invalid}">
            <input type="text" class="form-control" name="postalCode" maxlength="15"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.address.zip}"
                   data-ng-model="address.postalCode"
                   data-ng-required="address.active" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="divider-inner-row">
        <span data-th-text="#{com.cagst.swkroa.membership.member.phone.label}">zzz Phone Numbers</span>
        <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                data-ng-click="contactService.addPhone(membership.primaryMember)">
          <i class="fa fa-plus"></i>
          <span data-th-text="#{com.cagst.swkroa.membership.member.phone.add}">zzz Add Phone</span>
        </button>
      </div>
      <div data-ng-repeat="phone in membership.primaryMember.phoneNumbers"
           data-ng-show="phone.active"
           data-ng-form="phoneForm"
           class="grouper">
        <div class="row spacer-top">
          <div class="col-xs-4" data-ng-class="{'has-error': phoneForm.phoneType.$invalid}">
            <select class="form-control" name="phoneType"
                    data-ng-options="type.codeValueUID as type.display for type in phoneTypes"
                    data-ng-model="phone.phoneTypeCD"
                    data-ng-required="phone.active">
            </select>
          </div>
          <div class="col-xs-4">
            <input id="primaryPhone" type="checkbox"
                   data-ng-model="phone.primary"
                   data-ng-change="contactService.ensurePrimaryPhone(membership.primaryMember, phone)" />
            <label for="primaryPhone" data-th-text="#{com.cagst.swkroa.membership.member.phone.primary}">
              zzz Primary Phone
            </label>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.removePhone(membership.primaryMember, phone)">
              <i class="fa fa-trash-o"></i>
              <span data-th-text="#{com.cagst.swkroa.membership.member.phone.remove}">zzz Remove Phone</span>
            </button>
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-8" data-ng-class="{'has-error': phoneForm.number.$invalid}">
            <input type="tel" class="form-control" name="number" maxlength="25"
                   data-ng-model="phone.phoneNumber"
                   data-ui-mask="(999) 999-9999"
                   data-ng-required="phone.active" />
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" maxlength="10"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.extension.label}"
                   data-ng-model="phone.phoneExtension" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="divider-inner-row">
        <span data-th-text="#{com.cagst.swkroa.membership.member.email.label}">zzz Email Addresses</span>
        <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                data-ng-click="contactService.addEmail(membership.primaryMember)">
          <i class="fa fa-plus"></i>
          <span data-th-text="#{com.cagst.swkroa.membership.member.email.add}">zzz Add Email</span>
        </button>
      </div>
      <div data-ng-repeat="email in membership.primaryMember.emailAddresses"
           data-ng-show="email.active"
           data-ng-form="emailForm"
           class="grouper">
        <div class="row spacer-top">
          <div class="col-xs-4" data-ng-class="{'has-error': emailForm.emailType.$invalid}">
            <select class="form-control" name="emailType"
                    data-ng-options="type.codeValueUID as type.display for type in emailTypes"
                    data-ng-model="email.emailTypeCD"
                    data-ng-required="email.active">
            </select>
          </div>
          <div class="col-xs-4">
            <input id="primaryEmail" type="checkbox"
                   data-ng-model="email.primary"
                   data-ng-change="contactService.ensurePrimaryEmail(membership.primaryMember, email)" />
            <label for="primaryEmail" data-th-text="#{com.cagst.swkroa.membership.member.email.primary}">
              zzz Primary Email
            </label>
          </div>
          <div class="col-xs-4">
            <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.removeEmail(membership.primaryMember, email)">
              <i class="fa fa-trash-o"></i>
              <span data-th-text="#{com.cagst.swkroa.membership.member.email.remove}">zzz Remove Email</span>
            </button>
          </div>
        </div>
        <div class="row spacer-top">
          <div class="col-xs-12" data-ng-class="{'has-error': emailForm.emailAddress.$invalid}">
            <input type="email" class="form-control" name="emailAddress" maxlength="256"
                   data-th-placeholder="#{com.cagst.swkroa.membership.member.email.prompt}"
                   data-ng-model="email.emailAddress"
                   data-ng-required="email.active" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
