<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<body>

<div data-th-fragment="sectionMembership">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-2">
          <select class="form-control"
                  data-ng-model="membership.primaryMember.memberType"
                  data-ng-options="type.memberTypeDisplay for type in memberTypes | filter:{primary:!false}">
          </select>
        </div>
        <div class="col-xs-10">
          <span class="pull-right"
                data-ng-show="membership.primaryMember.memberType.allowSpouse">
            <button type="button" class="btn btn-success btn-xs hover-reveal"
                    data-ng-show="!membership.primarySpouse || !membership.primarySpouse.active"
                    data-ng-click="addSpouse()">
              <i class="fa fa-plus"></i>
              <span data-th-text="#{com.cagst.swkroa.membership.member.spouse.add}">zzz Add Spouse</span>
            </button>
            <button type="button" class="btn btn-danger btn-xs hover-reveal"
                    data-ng-show="membership.primarySpouse && membership.primarySpouse.active"
                    data-ng-click="removeSpouse()">
              <i class="fa fa-trash-o"></i>
              <span data-th-text="#{com.cagst.swkroa.membership.member.spouse.remove}">zzz Remove Spouse</span>
            </button>
          </span>
        </div>
      </div>
    </div>

    <div class="panel-body">
      <div data-th-include="membership/modify/section_primary_member"></div>
      <div data-th-include="membership/modify/section_primary_spouse"
           data-ng-show="membership.primarySpouse && membership.primarySpouse.active"></div>
      <div data-th-include="membership/modify/section_primary_contact"></div>
    </div>
  </div>
</div>

</body>
</html>