<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sectionMembers" class="panel panel-default">
  <div class="panel-heading">
    <span th:text="#{com.cagst.swkroa.membership.section.additional}">zzz Additional Members</span>
    <span class="pull-right">
      <button type="button" class="btn btn-success btn-xs hover-reveal"
              data-ng-click="addMember()">
        <i class="fa fa-plus"></i>
        <span th:text="#{com.cagst.swkroa.membership.member.add}">zzz Add Member</span>
      </button>
    </span>
  </div>

  <div class="panel-body">
    <div data-ng-repeat="member in membership.members"
         data-ng-show="member.memberType.memberTypeMeaning == 'FAMILY_MEMBER' && member.active === true"
         data-ng-form="memberForm">
      <div class="row">
        <div class="divider-inner">
          <span th:text="#{com.cagst.swkroa.membership.member.divider}">zzz MEMBERS</span>
          <span>{{$index}}</span>
          <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                  data-ng-click="removeMember(member)">
            <i class="fa fa-trash-o"></i>
            <span th:text="#{com.cagst.swkroa.membership.member.remove}">zzz Remove Member</span>
          </button>
        </div>
        <div>
          <div class="col-xs-2">
            <label for="title" th:text="#{com.cagst.swkroa.membership.member.title.label}">zzz Title</label>
            <select id="title" class="form-control"
                    data-ng-model="member.person.titleCD"
                    data-ng-options="title.codeValueUID as title.display for title in titles">
              <option value="" th:text="#{com.cagst.swkroa.none}"></option>
            </select>
          </div>
          <div class="col-xs-2" data-ng-class="{'has-error': memberForm.firstName.$invalid}">
            <label for="firstName" class="control-label label-required"
                   th:text="#{com.cagst.swkroa.membership.member.firstname.label}">
              zzz First Name
            </label>
            <input id="firstName" name="firstName" type="text" class="form-control" maxlength="50"
                   th:placeholder="#{com.cagst.swkroa.membership.member.firstname.prompt}"
                   data-ng-model="member.person.firstName"
                   data-ng-required="member.memberType.memberTypeMeaning == 'FAMILY_MEMBER' && member.active === true"
                   data-ng-blur="generateOwnerId(member)" />
          </div>
          <div class="col-xs-2">
            <label th:text="#{com.cagst.swkroa.membership.member.middlename.label}">zzz Middle Name</label>
            <input type="text" class="form-control" maxlength="50"
                   th:placeholder="#{com.cagst.swkroa.membership.member.middlename.prompt}"
                   data-ng-model="member.person.middleName" />
          </div>
          <div class="col-xs-2" data-ng-class="{'has-error': memberForm.lastName.$invalid}">
            <label class="control-label label-required"
                   th:text="#{com.cagst.swkroa.membership.member.lastname.label}">
              zzz Last Name
            </label>
            <input type="text" class="form-control" name="lastName" maxlength="50"
                   th:placeholder="#{com.cagst.swkroa.membership.member.lastname.prompt}"
                   data-ng-model="member.person.lastName"
                   data-ng-required="member.memberType.memberTypeMeaning == 'FAMILY_MEMBER' && member.active === true"
                   data-ng-blur="generateOwnerId(member)" />
          </div>
          <div class="col-xs-2" data-ng-class="{'has-error': memberForm.ownerIdent.$invalid}">
            <label class="control-label label-required"
                   th:text="#{com.cagst.swkroa.membership.member.ownerid.label}">
              zzz Owner ID
            </label>
            <input type="text" class="form-control" name="ownerIdent" maxlength="15"
                   th:placeholder="#{com.cagst.swkroa.membership.member.ownerid.prompt}"
                   data-ng-model="member.ownerIdent"
                   data-ng-required="member.memberType.memberTypeMeaning == 'FAMILY_MEMBER' && member.active === true" />
          </div>
        </div>
      </div>

      <div class="row spacer-top">
        <div class="col-xs-2">
          <label th:text="#{com.cagst.swkroa.membership.member.joined}">zzz Joined</label>

          <div class="input-group">
            <input type="text" class="form-control"
                   data-uib-datepicker-popup="MM/dd/yyyy"
                   data-is-open="member.joinDateOpened"
                   data-ng-click="openMemberJoinDate($event, member)"
                   data-ng-model="member.joinDate" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" data-ng-click="openMemberJoinDate($event, member)">
                <i class="fa fa-calendar"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-xs-2">
          <label th:text="#{com.cagst.swkroa.membership.member.greeting.label}">zzz Greeting</label>
          <input type="text" class="form-control" maxlength="25"
                 th:placeholder="#{com.cagst.swkroa.membership.member.greeting.prompt}"
                 data-ng-model="member.greeting" />
        </div>
        <div class="col-xs-2">
          <label th:text="#{com.cagst.swkroa.membership.member.incareof.label}">zzz C/O</label>
          <input type="text" class="form-control" maxlength="50"
                 data-ng-model="member.inCareOf" />
        </div>
        <div class="col-xs-2">
          <div>&nbsp;</div>
          <input id="primaryMailNewsletter" type="checkbox" data-ng-model="member.mailNewsletter" />
          <label for="primaryMailNewsletter" th:text="#{com.cagst.swkroa.membership.member.newsletter.mail}">
            zzz Mail
          </label>
        </div>
        <div class="col-xs-2">
          <div>&nbsp;</div>
          <input id="primaryEmailNewsletter" type="checkbox" data-ng-model="member.emailNewsletter" />
          <label for="primaryEmailNewsletter" th:text="#{com.cagst.swkroa.membership.member.newsletter.email}">
            zzz Email
          </label>
        </div>
      </div>

      <div class="row spacer-top">
        <div class="col-xs-4">
          <div class="divider-inner-row">
            <span th:text="#{com.cagst.swkroa.membership.member.address.label}">zzz Addresses</span>
            <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.addAddress(member)">
              <i class="fa fa-plus"></i>
              <span th:text="#{com.cagst.swkroa.membership.member.address.add}">zzz Add Address</span>
            </button>
          </div>
          <div data-ng-repeat="address in member.addresses"
               data-ng-show="address.active"
               data-ng-form="addressForm"
               class="grouper">
            <div class="row spacer-top">
              <div class="col-xs-4" data-ng-class="{'has-error': addressForm.addressType.$invalid}">
                <select class="form-control" name="addressType"
                        data-ng-options="type.codeValueUID as type.display for type in addressTypes"
                        data-ng-model="address.addressTypeCD"
                        data-ng-required="address.active">
                </select>
              </div>
              <div class="col-xs-4">
                <input id="primaryAddress{{$index}}" type="checkbox"
                       data-ng-model="address.primary"
                       data-ng-change="contactService.ensurePrimaryAddress(member, address)" />
                <label for="primaryAddress{{$index}}"
                       th:text="#{com.cagst.swkroa.membership.member.address.primary}">
                  zzz Primary Address
                </label>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                        data-ng-click="contactService.removeAddress(member, address)">
                  <i class="fa fa-trash-o"></i>
                  <span th:text="#{com.cagst.swkroa.membership.member.address.remove}">zzz Remove Address</span>
                </button>
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-12" data-ng-class="{'has-error': addressForm.address1.$invalid}">
                <input type="text" class="form-control" name="address1" maxlength="50"
                       th:placeholder="#{com.cagst.swkroa.membership.member.address.line1}"
                       data-ng-model="address.addressLine1"
                       data-ng-required="address.active" />
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-12">
                <input type="text" class="form-control" maxlength="50"
                       th:placeholder="#{com.cagst.swkroa.membership.member.address.line2}"
                       data-ng-model="address.addressLine2" />
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-12">
                <input type="text" class="form-control" maxlength="50"
                       th:placeholder="#{com.cagst.swkroa.membership.member.address.line3}"
                       data-ng-model="address.addressLine3" />
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-4" data-ng-class="{'has-error': addressForm.city.$invalid}">
                <input type="text" class="form-control" name="city" maxlength="50"
                       th:placeholder="#{com.cagst.swkroa.membership.member.address.city}"
                       data-ng-model="address.city"
                       data-ng-required="address.active" />
              </div>
              <div class="col-xs-4" data-ng-class="{'has-error': addressForm.state.$invalid}">
                <select class="form-control" name="state"
                        data-ng-model="address.state"
                        data-ng-options="state.code as state.name for state in states"
                        data-ng-required="address.active">
                </select>
              </div>
              <div class="col-xs-4" data-ng-class="{'has-error': addressForm.postalCode.$invalid}">
                <input type="text" class="form-control" name="postalCode" maxlength="15"
                       th:placeholder="#{com.cagst.swkroa.membership.member.address.zip}"
                       data-ng-model="address.postalCode"
                       data-ng-required="address.active" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="divider-inner-row">
            <span th:text="#{com.cagst.swkroa.membership.member.phone.label}">zzz Phone Numbers</span>
            <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.addPhone(member)">
              <i class="fa fa-plus"></i>
              <span th:text="#{com.cagst.swkroa.membership.member.phone.add}">zzz Add Phone</span>
            </button>
          </div>
          <div data-ng-repeat="phone in member.phoneNumbers"
               data-ng-show="phone.active"
               data-ng-form="phoneForm"
               class="grouper">
            <div class="row spacer-top">
              <div class="col-xs-4" data-ng-class="{'has-error': phoneForm.phoneType.$invalid}">
                <select class="form-control" name="phoneType"
                        data-ng-options="type.codeValueUID as type.display for type in phoneTypes"
                        data-ng-model="phone.phoneTypeCD"
                        data-ng-required="phone.active">
                </select>
              </div>
              <div class="col-xs-4">
                <input id="primaryPhone{{$index}}" type="checkbox"
                       data-ng-model="phone.primary"
                       data-ng-change="contactService.ensurePrimaryPhone(member, phone)" />
                <label for="primaryPhone{{$index}}" th:text="#{com.cagst.swkroa.membership.member.phone.primary}">
                  zzz Primary Phone
                </label>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                        data-ng-click="contactService.removePhone(member, phone)">
                  <i class="fa fa-trash-o"></i>
                  <span th:text="#{com.cagst.swkroa.membership.member.phone.remove}">zzz Remove Phone</span>
                </button>
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-8" data-ng-class="{'has-error': phoneForm.number.$invalid}">
                <input type="tel" class="form-control" name="number" maxlength="25"
                       data-ui-mask="(999) 999-9999"
                       data-ng-model="phone.phoneNumber"
                       data-ng-required="phone.active" />
              </div>
              <div class="col-xs-4">
                <input type="text" class="form-control" maxlength="10"
                       th:placeholder="#{com.cagst.swkroa.membership.member.extension.label}"
                       data-ng-model="phone.phoneExtension" />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-4">
          <div class="divider-inner-row">
            <span th:text="#{com.cagst.swkroa.membership.member.email.label}">zzz Email Addresses</span>
            <button type="button" class="btn btn-success btn-xs hover-reveal pull-right"
                    data-ng-click="contactService.addEmail(member)">
              <i class="fa fa-plus"></i>
              <span th:text="#{com.cagst.swkroa.membership.member.email.add}">zzz Add Email</span>
            </button>
          </div>
          <div data-ng-repeat="email in member.emailAddresses"
               data-ng-show="email.active"
               data-ng-form="emailForm"
               class="grouper">
            <div class="row spacer-top">
              <div class="col-xs-4" data-ng-class="{'has-error': emailForm.emailType.$invalid}">
                <select class="form-control" name="emailType"
                        data-ng-options="type.codeValueUID as type.display for type in emailTypes"
                        data-ng-model="email.emailTypeCD"
                        data-ng-required="email.active">
                </select>
              </div>
              <div class="col-xs-4">
                <input id="primaryEmail{{$index}}" type="checkbox"
                       data-ng-model="email.primary"
                       data-ng-change="contactService.ensurePrimaryEmail(member, email)" />
                <label for="primaryEmail{{$index}}" th:text="#{com.cagst.swkroa.membership.member.email.primary}">
                  zzz Primary Email
                </label>
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-danger btn-xs hover-reveal pull-right"
                        data-ng-click="contactService.removeEmail(member, email)">
                  <i class="fa fa-trash-o"></i>
                  <span th:text="#{com.cagst.swkroa.membership.member.email.remove}">zzz Remove Email</span>
                </button>
              </div>
            </div>
            <div class="row spacer-top">
              <div class="col-xs-12" data-ng-class="{'has-error': emailForm.emailAddress.$invalid}">
                <input type="email" class="form-control" name="emailAddress" maxlength="256"
                       th:placeholder="#{com.cagst.swkroa.membership.member.email.prompt}"
                       data-ng-model="email.emailAddress"
                       data-ng-required="email.active" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</html>