<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="primaryMember">
  <div class="row">
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.entityType.$invalid}">
      <label for="entityType" class="control-label label-required" th:text="#{membership.entity}">
        z_EntityType
      </label>
      <select id="entityType" name="entityType" class="form-control"
              data-ng-options="entityType.display for entityType in ctrl.entityTypes track by entityType.codeValueUID"
              data-ng-model="ctrl.membership.entityType"
              data-ng-required="true">
      </select>
    </div>
    <div class="col-xs-4" data-ng-class="{'has-error': membershipForm.companyName.$invalid}">
      <label for="companyName" class="control-label"
             data-ng-class="{'label-required': ctrl.membership.entityType.meaning != 'ENTITY_INDIVIDUAL'}"
             th:text="#{membership.name.label}">
        zzz Membership Name
      </label>
      <input id="companyName" name="companyName" type="text" class="form-control" maxlength="250"
             th:placeholder="#{membership.name.prompt}"
             data-ng-model="ctrl.membership.primaryMember.companyName"
             data-ng-disabled="ctrl.membership.entityType.meaning == 'ENTITY_INDIVIDUAL'"
             data-ng-required="ctrl.membership.entityType.meaning != 'ENTITY_INDIVIDUAL'" />
    </div>
    <div class="col-xs-2">
      <label for="incrementalDues" th:text="#{membership.dues.incremental}">zzz Incremental</label>
      <div class="input-group">
        <input id="incrementalDues" type="number" class="form-control"
               data-ng-model="ctrl.membership.incrementalDues" />
      </div>
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.dueDate.$invalid}">
      <label for="dueDate" class="control-label label-required" th:text="#{membership.dueon}">
        zzz Due On
      </label>
      <p class="input-group">
        <input id="dueDate" name="dueDate" type="text" class="form-control"
               data-uib-datepicker-popup="MM/dd/yyyy"
               data-is-open="ctrl.isOpen.dueDate"
               data-ng-click="ctrl.openDueDate($event)"
               data-ng-model="ctrl.membership.nextDueDate"
               data-ng-required="true" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="ctrl.openDueDate($event)">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </p>
    </div>
  </div>

  <div class="row spacer-top">
    <div class="col-xs-2">
      <label for="primaryMemberTitle" th:text="#{membership.member.title.label}">zzz Title</label>
      <select id="primaryMemberTitle" class="form-control"
              data-ng-model="ctrl.membership.primaryMember.person.titleCD"
              data-ng-options="title.codeValueUID as title.display for title in ctrl.titles">
        <option value="" th:text="#{common.none}"></option>
      </select>
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.primaryFirstName.$invalid}">
      <label for="primaryFirstName" class="control-label label-required"
             th:text="#{membership.member.firstname.label}">
        zzz First Name
      </label>
      <input id="primaryFirstName" name="primaryFirstName" type="text" class="form-control" maxlength="50"
             th:placeholder="#{membership.member.firstname.prompt}"
             data-ng-model="ctrl.membership.primaryMember.person.firstName"
             data-ng-required="ctrl.membership.entityType.meaning == 'ENTITY_INDIVIDUAL'"
             data-ng-blur="ctrl.generateOwnerId(ctrl.membership.primaryMember)" />
    </div>
    <div class="col-xs-2">
      <label for="primaryMemberMiddleName" th:text="#{membership.member.middlename.label}">zzz Middle Name</label>
      <input id="primaryMemberMiddleName" type="text" class="form-control" maxlength="50"
             th:placeholder="#{membership.member.middlename.prompt}"
             data-ng-model="ctrl.membership.primaryMember.person.middleName" />
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.primaryLastName.$invalid}">
      <label for="primaryLastName" class="control-label label-required"
             th:text="#{membership.member.lastname.label}">
        zzz Last Name
      </label>
      <input id="primaryLastName" name="primaryLastName" type="text" class="form-control" maxlength="50"
             th:placeholder="#{membership.member.lastname.prompt}"
             data-ng-model="ctrl.membership.primaryMember.person.lastName"
             data-ng-required="ctrl.membership.entityType.meaning == 'ENTITY_INDIVIDUAL'"
             data-ng-blur="ctrl.generateOwnerId(ctrl.membership.primaryMember)" />
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.primaryOwnerIdent.$invalid}">
      <label for="primaryOwnerIdent" class="control-label label-required"
             th:text="#{membership.member.ownerid.label}">
        zzz Owner ID
      </label>
      <input id="primaryOwnerIdent" name="primaryOwnerIdent" type="text" class="form-control" maxlength="15"
             th:placeholder="#{membership.member.ownerid.prompt}"
             data-ng-model="ctrl.membership.primaryMember.ownerIdent"
             data-ng-required="ctrl.membership.entityType.meaning == 'ENTITY_INDIVIDUAL' || ctrl.membership.primaryMember.person" />
    </div>
  </div>

  <div class="row spacer-top">
    <div class="col-xs-2">
      <label for="primaryJoinDate" th:text="#{membership.member.joined}">zzz Joined</label>
      <div class="input-group">
        <input type="text" class="form-control" id="primaryJoinDate" name="primaryJoinDate"
               data-is-open="ctrl.isOpen.primaryJoinDate"
               data-ng-click="ctrl.openPrimaryJoinDate($event)"
               data-uib-datepicker-popup="MM/dd/yyyy"
               data-ng-model="ctrl.membership.primaryMember.joinDate" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" data-ng-click="ctrl.openPrimaryJoinDate($event)">
            <i class="fa fa-calendar"></i>
          </button>
        </span>
      </div>
    </div>
    <div class="col-xs-2">
      <label for="primaryMemberGreeting" th:text="#{membership.member.greeting.label}">zzz Greeting</label>
      <input id="primaryMemberGreeting" type="text" class="form-control" maxlength="25"
             th:placeholder="#{membership.member.greeting.prompt}"
             data-ng-model="ctrl.membership.primaryMember.greeting" />
    </div>
    <div class="col-xs-2">
      <label for="primaryMemberCareOf" th:text="#{membership.member.incareof.label}">zzz In Care Of</label>
      <input id="primaryMemberCareOf" type="text" class="form-control" maxlength="50"
             data-ng-model="ctrl.membership.primaryMember.inCareOf" />
    </div>
    <div class="col-xs-2">
      <div>&nbsp;</div>
      <input id="primaryMailNewsletter" type="checkbox" data-ng-model="ctrl.membership.primaryMember.mailNewsletter" />
      <label for="primaryMailNewsletter" th:text="#{membership.member.newsletter.mail}">zzz Mail</label>
    </div>
    <div class="col-xs-2">
      <div>&nbsp;</div>
      <input id="primaryEmailNewsletter" type="checkbox" data-ng-model="ctrl.membership.primaryMember.emailNewsletter" />
      <label for="primaryEmailNewsletter" th:text="#{membership.member.newsletter.email}">zzz Email</label>
    </div>
  </div>
</div>

</html>