<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

  <!-- Map the DispatcherServlet to "/" and while still allowing static resources to be -->
  <!-- handled by the container's default Servlet. -->
  <mvc:default-servlet-handler/>

  <!-- Define our static resources so they don't get processed by the DispatcherServlet -->
  <mvc:resources location="/static/css/**" mapping="/static/css/"/>
  <mvc:resources location="/static/images/**" mapping="/static/img/"/>

  <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>

</beans>
