<!DOCTYPE html>

<html>
<body>

<div data-th-fragment="userListing">
  <div class="split-header">
    <div class="split-header-content form-group expand">
      <div>
        <a data-th-href="@{/user/add}" class="add-btn">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="list-group constrain-view divider-right">
    <div>
      <div class="panel-body text-muted" data-ng-show="!users.length">
        <em data-th-text="#{com.cagst.swkroa.maintain.user.nousers}">zzz No users</em>
      </div>
      <div data-ng-show="users.length">
        <div class="list-group-item alt-list-group-item sel-list-group-item"
             data-ng-repeat="user in users"
             data-ng-class="{active: user.userUID === selectedUser.userUID}"
             data-ng-click="getUser(user.userUID)">
          <div>
            <span>
              {{user.fullName}}
              <small class="text-muted">
                (<span data-ng-bind="user.username"></span>)
              </small>
            </span>
            <span class="pull-right" data-ng-show="user.accountNonLocked == false">
              <i class="fa fa-lock"></i>
            </span>
            <span class="pull-right" data-ng-show="user.enabled == false">
              <i class="fa fa-ban"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>