<!DOCTYPE html>

<html>
<body>

<div data-ng-show="!user">
  <em>
    <label class="panel-body text-muted text-center" data-th-text="#{com.cagst.swkroa.maintain.user.notselected}">
      zzz No user selected.
    </label>
  </em>
</div>
<div data-ng-show="user">
  <div class="container-inner">
    <h2 class="lead">
      {{user.fullName}}
      <small class="text-muted">
        ({{user.username}})
      </small>
    </h2>
    <div>
      <span data-th-text="#{com.cagst.swkroa.maintain.user.last.signin.date}">
        zzz Last signin
      </span>
      <span data-ng-bind="user.lastSigninDate | date:'medium'" />
    </div>
  </div>
</div>

</body>
</html>