@CHARSET "UTF-8";

/* ========================================================================= *
 * Standard styling for SWKROA.                                              *
 *                                                                           *
 * SWKROA utilizes the bootstrap framework for most functionality  and       *
 * styling, so this specifies additions/overrides to the bootstrap           *
 * framework/styling.                                                        *
============================================================================ */

/* ========================================================================= *
 * Body and Structure                                                        *
============================================================================ */
body {
  font-weight: 300;
  min-width: 1024px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ========================================================================= *
 * Tweak/Customize Bootstrap style.                                          *
============================================================================ */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 14px;
}

.navbar-inverse {
  background-color: #428bca;
  border-color: #357ebd;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ddd;
}

.navbar-inverse .navbar-nav > li:hover {
  background-color: #3276b1;
  border-color: #357ebd;
  color: #fff;
}

.navbar-inverse .navbar-brand > a {
  color: #357ebd;
}

.navbar-inverse .navbar-brand > a:hover {
  color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #3276B1;
  color: #fff;
}

.caret-inverse {
  border-left: 4px solid rgba(221, 221, 221, 0);
  border-right: 4px solid rgba(221, 221, 221, 0);
  border-top: 4px solid;
  display: inline-block;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  width: 0;
}

.dropdown-menu > li > a {
  font-weight: inherit;
}

a:hover, a:focus {
  text-decoration: none;
}

.list-group-inner {
  padding: 0 !important;
  margin: 0 !important;
}

.list-group-item {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -1px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.list-group-hover > .list-group-item:hover {
  background-color: #7cc144;
  color: #fff;
}

.list-group-item-condensed {
  padding: 7px 15px;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #d1e9be;
}

.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active, .table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active, .table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td, .table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {
  background-color: #7cc144;
  color: #fff;
}

.table-hover > tbody > tr > td.active:hover, .table-hover > tbody > tr > th.active:hover, .table-hover > tbody > tr.active:hover > td, .table-hover > tbody > tr.active:hover > th {
  background-color: #4b7827;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 5px;
  padding-right: 5px;
}

.col-xs-1:first-child, .col-sm-1:first-child, .col-md-1:first-child, .col-lg-1:first-child, .col-xs-2:first-child, .col-sm-2:first-child, .col-md-2:first-child, .col-lg-2:first-child, .col-xs-3:first-child, .col-sm-3:first-child, .col-md-3:first-child, .col-lg-3:first-child, .col-xs-4:first-child, .col-sm-4:first-child, .col-md-4:first-child, .col-lg-4:first-child, .col-xs-5:first-child, .col-sm-5:first-child, .col-md-5:first-child, .col-lg-5:first-child, .col-xs-6:first-child, .col-sm-6:first-child, .col-md-6:first-child, .col-lg-6:first-child, .col-xs-7:first-child, .col-sm-7:first-child, .col-md-7:first-child, .col-lg-7:first-child, .col-xs-8:first-child, .col-sm-8:first-child, .col-md-8:first-child, .col-lg-8:first-child, .col-xs-9:first-child, .col-sm-9:first-child, .col-md-9:first-child, .col-lg-9:first-child, .col-xs-10:first-child, .col-sm-10:first-child, .col-md-10:first-child, .col-lg-10:first-child, .col-xs-11:first-child, .col-sm-11:first-child, .col-md-11:first-child, .col-lg-11:first-child, .col-xs-12:first-child, .col-sm-12:first-child, .col-md-12:first-child, .col-lg-12:first-child {
  padding-left: 15px;
}

.col-xs-1:last-child, .col-sm-1:last-child, .col-md-1:last-child, .col-lg-1:last-child, .col-xs-2:last-child, .col-sm-2:last-child, .col-md-2:last-child, .col-lg-2:last-child, .col-xs-3:last-child, .col-sm-3:last-child, .col-md-3:last-child, .col-lg-3:last-child, .col-xs-4:last-child, .col-sm-4:last-child, .col-md-4:last-child, .col-lg-4:last-child, .col-xs-5:last-child, .col-sm-5:last-child, .col-md-5:last-child, .col-lg-5:last-child, .col-xs-6:last-child, .col-sm-6:last-child, .col-md-6:last-child, .col-lg-6:last-child, .col-xs-7:last-child, .col-sm-7:last-child, .col-md-7:last-child, .col-lg-7:last-child, .col-xs-8:last-child, .col-sm-8:last-child, .col-md-8:last-child, .col-lg-8:last-child, .col-xs-9:last-child, .col-sm-9:last-child, .col-md-9:last-child, .col-lg-9:last-child, .col-xs-10:last-child, .col-sm-10:last-child, .col-md-10:last-child, .col-lg-10:last-child, .col-xs-11:last-child, .col-sm-11:last-child, .col-md-11:last-child, .col-lg-11:last-child, .col-xs-12:last-child, .col-sm-12:last-child, .col-md-12:last-child, .col-lg-12:last-child {
  padding-right: 15px;
}

/* ========================================================================= *
 * Page Header Styling                                                       *
============================================================================ */
#page-header {
  background: #fff;
  height: 90px;
}

.page-header {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
}

#account-navigation {
  float: right;
  margin: 10px 25px 5px 0;
}

#account-navigation li {
  float: left;
  display: inline-block;
  padding-left: 35px;
}

/* ========================================================================= *
 * Page Body / Content Styling                                               *
============================================================================ */
#page-content {
  padding: 10px 20px;
}

/* ========================================================================= *
 * Common Styling                                                            *
============================================================================ */
.clear-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.clear-right {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

.clear-top {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.clear-bottom {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.clear-padding {
  padding: 0 !important;
}

.padding-5 {
  padding: 5px;
}

.margin-5 {
  margin: 5px;
}

.form-row-spacer {
  padding-top: 15px;
}

.row-spacer {
  padding-top: 5px;
}

label {
  cursor:default;
}

.label-required:after {
  content:" *";
  color:#b94a48;
}

.label-inline {
  display:inline-block;
}

.label-contained {
  font-size: 12px;
}

.label-contained:before {
  content:"(";
}

.label-contained:after {
  content:")";
}

.table-inner {
  border: 0 solid #ddd;
}

.table-inner > thead > tr > th {
  border-bottom-width: 0;
}

.table-fixed > tbody {
  display: block;
  height: 450px;
  overflow: auto;
}

.table-fixed > tr {
  display: block;
}

.table-fixed > th, .table-fixed td {
  width: 100%;
}

.row-inner {
  margin-left: 0;
  margin-right: 0;
}

.legend_medium {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.container-center-small {
  max-width: 20%;
  margin: auto auto;
  padding: 20px;
}

.container-center-medium {
  max-width: 40%;
  margin: auto auto;
  padding: 20px;
}

.container-center-large {
  max-width: 60%;
  margin: auto auto;
  padding: 20px;
}

.container-center-xlarge {
  max-width: 80%;
  margin: auto auto;
  padding: 20px;
}

.container-outline {
  border: 1px solid #ddd;
  width: auto;
}

.container-small {
  width:24%;
}

.container-medium {
  width:48%;
}

.container-large {
  width:74%;
}

.container-inner {
  padding:15px;
}

.divider-right {
  border-right: 1px solid #ddd;
}

.divider-left {
  border-left: 1px solid #ddd;
}

.divider-top {
  border-top: 1px solid #ddd;
}

.divider-bottom {
  border-bottom: 1px solid #ddd;
}

.divider-inner {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px;
  margin: 15px;
}

.divider-inner-row {
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 5px;
}

.spacer-bottom {
  padding-bottom: 10px;
}

.spacer-top {
  margin-top: 10px;
}

.indent-left {
  padding-left: 15px;
}

.expand {
  display:block;
  width:100%;
}

.stretch {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.split-header {
  background-color: #f5f5f5;
  padding-left: 0;
}

.split-header-content {
  display:table;
  padding: 10px 15px;
}

.split-footer {
  background-color: #f5f5f5;
  padding-left: 0;
  height: 50px;
}

.split-footer-content {
  display:table;
  padding: 10px 15px;
}

.hover-buttons .btn {
  display: none;
}

.hover-buttons:hover .btn {
  display: inline-block;
}

.hover-reveal span {
  display: none;
}

.hover-reveal:hover span {
  display: inline-block;
}

.lead-in {
  margin-bottom: 0;
  font-size:18px;
}

.lead-sm {
  font-size: 16px;
}

a.alt-list-group-item:hover, div.alt-list-group-item:hover {
  background-color:#d1e9be;
}

.sel-list-group-item {
  cursor: pointer;
}

div.list-group-item.active {
  background-color: #7cc144;
  color: #fff;
}

div.list-group-item.active:hover {
  background-color: #4b7827;
}

.condensed-list-group {
  margin-bottom: 0;
}

.condensed-list-group-item {
  border: 0;
  padding: 3px 3px;
}

.constrain-view {
  min-height: 500px;
  max-height: 500px;
  overflow: auto;
  margin-bottom: 0;
}

.add-btn:hover, .add-btn:hover > a {
  background-color: #3276b1;
  border-color: #357ebd;
  color: #fff;
  cursor: pointer;
}

.add-btn a:hover {
  color: #fff;
}

.text_bold {
  font-weight: bold;
}

.text_normal {
  font-weight: 300;
}

.grouper {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comment-text {
  white-space: pre-wrap;
}

.filter {
  background-color: #555 !important;
  color: #fff;
}


/* ========================================================================= *
 * Make JQuery UI Spinner compatible with Bootstrap Styling                  *
============================================================================ */
input.ui-spinner-input {
  margin-top:0;
  margin-left:0;
  margin-bottom:0;
  border:0;
}

.input-append .ui-spinner .ui-spinner-button.ui-spinner-up {
  border-top-right-radius: 0 !important;
  -webkit-border-top-right-radius: 0 !important;
}

.input-append .ui-spinner .ui-spinner-button.ui-spinner-down {
  border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
}
