<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />
</head>

<body>

<div th:replace="fragments/auth :: header"></div>
<div th:replace="fragments/auth :: navigation"></div>

<div id="page-content">
  <div class="page-header">
    <h3 th:text="#{com.cagst.swkroa.changepwd.title}">zzz Change Password</h3>
  </div>

  <form action="/auth/changepwd" th:attr="action=@{/auth/changepwd}"
        method="POST"
        autocomplete="off"
        class="container-center-large divider-bottom">

    <div class="text-info divider-bottom">
      <p class="lead lead-sm"
         th:text="#{com.cagst.swkroa.changepwd.reason.expired}"
         th:if="${#authentication.principal.passwordExpired}">
        zzz Expired
      </p>

      <p class="lead lead-sm"
         th:text="#{com.cagst.swkroa.changepwd.reason.temporary}"
         th:if="${#authentication.principal.passwordTemporary}">
        zzz Temporary
      </p>
    </div>
    <div class="spacer-top">
      <div class="container-medium pull-right">
        <p class="lead lead-sm" th:text="#{com.cagst.swkroa.changepwd.message}"></p>
        <p><strong class="text-danger" th:text="${session.changingpwdError}"></strong></p>
      </div>
      <div class="container-medium divider-right" style="padding-right:20px;">
        <div class="form-group">
          <label for="oldPassword" class="form_label label-required"
                 th:text="#{com.cagst.swkroa.changepwd.oldpwd.label}">
            zzz Current Password
          </label>
          <input id="oldPassword" name="oldPassword" type="password" maxlength="60"
                 class="form-control input-block-level" autofocus
                 th:placeholder="#{com.cagst.swkroa.changepwd.oldpwd.prompt}" />
        </div>
        <div class="form-group">
          <label for="newPassword" class="form_label label-required"
                 th:text="#{com.cagst.swkroa.changepwd.newpwd.label}">
            zzz New Password
          </label>
          <input id="newPassword" name="newPassword" type="password" maxlength="60"
                 class="form-control input-block-level"
                 th:placeholder="#{com.cagst.swkroa.changepwd.newpwd.prompt}" />
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="form_label label-required"
                 th:text="#{com.cagst.swkroa.changepwd.confirm.label}">
            zzz Confirm New Password
          </label>
          <input id="confirmPassword" name="confirmPassword" type="password" maxlength="60"
                 class="form-control input-block-level"
                 th:placeholder="#{com.cagst.swkroa.changepwd.confirm.prompt}" />
        </div>

        <button id="changePassword" type="submit" class="btn btn-primary btn-block"
                th:text="#{com.cagst.swkroa.changepwd.change}">
          zzz Change
        </button>
      </div>
    </div>
  </form>
</div>

</body>
</html>