<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/swkroa.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/service/codeset.service.js}"></script>
</head>

<body data-ng-app="swkroaApp">
<div th:replace="fragments/auth :: header"></div>
<div th:replace="fragments/auth :: navigation"></div>

<div id="page-content" data-ng-controller="ForgotPasswordController as ctrl" data-ng-cloak="">
  <div class="page-header">
    <h3 th:text="#{signin.forgotPassword.header}">z_ForgotPassword</h3>
  </div>

  <div class="container-center-large">
    <div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="ctrl.errorText">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <strong>Warning!</strong>

      <div data-ng-bind="ctrl.errorText">zzz Error</div>
    </div>

    <div id="identify" data-ng-show="ctrl.step == 'IDENTIFY'">
      <div class="row" style="padding-left:15px">
        <p class="lead lead-sm" th:text="#{signin.forgotPassword.identify.title}">zzz Identify</p>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-xs-12">
            <label for="username" class="form_label label-required" th:text="#{signin.forgotPassword.username.label}">
              z_Username
            </label>
            <input id="username" name="username" type="text" maxlength="50" autofocus
                   class="form-control input-block-level"
                   th:placeholder="#{signin.forgotPassword.username.label}"
                   data-ng-model="ctrl.forgotPassword.username"/>
          </div>
        </div>
      </div>
      <div class="row row-spacer spacer-top" style="padding-right:15px">
        <input id="identifyButton" type="button" class="btn btn-primary pull-right"
               data-th-value="#{signin.forgotPassword.identify.button}"
               data-ng-disabled="!ctrl.forgotPassword.username"
               data-ng-click="ctrl.registerIdentification()">
      </div>
    </div>

    <div id="verify" data-ng-show="ctrl.step == 'VERIFY'">
      <div class="row" style="padding-left:15px">
        <p class="lead lead-sm" th:text="#{signin.forgotPassword.verify.title}">zzz Verify</p>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <label for="ownerId" class="form_label" th:text="#{signin.forgotPassword.verify.ownerid}">
            z_OwnerId
          </label>
          <input id="ownerId" type="text" maxlength="15"
                 class="form-control input-block-level"
                 th:placeholder="#{signin.forgotPassword.verify.ownerid}"
                 data-ng-model="ctrl.forgotPassword.ownerId"
                 data-ng-change="ctrl.enableVerify()"/>
        </div>
      </div>

      <div class="row row-spacer spacer-top" style="padding-right:15px">
        <input id="verifyButton" type="button" class="btn btn-primary pull-right"
               data-th-value="#{signin.forgotPassword.verify.button}"
               data-ng-disabled="!ctrl.enableVerify()"
               data-ng-click="ctrl.registerVerify()">
      </div>
    </div>

  </div>
</div>

<script type="text/javascript" th:src="@{/static/js/auth/forgotPassword.js}"></script>

</body>
</html>
