<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />
</head>

<body>
<div th:replace="fragments/auth :: header"></div>
<div th:replace="fragments/auth :: navigation"></div>

<div id="page-content">
  <div class="container-center-medium container-outline">
    <img alt="" th:src="@{/static/images/info_icon.png}" style="vertical-align:middle;" />
      <span style="padding-left:10px;" th:text="#{com.cagst.swkroa.notauthorized.message}">
        zzz Not Authorized
      </span>
  </div>
</div>
</body>
</html>