<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="fragments/common :: head" />

  <script type="text/javascript" th:src="@{/static/js/swkroa.js}"></script>
  <script type="text/javascript" th:src="@{/static/js/service/codeset.service.js}"></script>
</head>

<body data-ng-app="swkroaApp">
<div th:replace="fragments/auth :: header"></div>
<div th:replace="fragments/auth :: navigation"></div>

<div id="page-content" data-ng-controller="RegistrationController as ctrl" data-ng-cloak="">
  <div class="page-header">
    <h3 th:text="#{signin.register.header}">zzz Register</h3>
  </div>

  <div class="container-center-large">
    <div class="alert alert-danger alert-dismissible" role="alert" data-ng-show="ctrl.errorText">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <strong>Warning!</strong>

      <div data-ng-bind="ctrl.errorText">zzz Error</div>
    </div>

    <div id="identify" data-ng-show="ctrl.step == 'IDENTIFY'">
        <div class="row" style="padding-left:15px">
          <p class="lead lead-sm" th:text="#{signin.register.identify.title}">zzz Identify</p>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-xs-12">
              <label for="ownerId" class="form_label label-required"
                     th:text="#{signin.register.ownerid.label}">
                zzz Owner ID
              </label>
              <input id="ownerId" name="ownerId" type="text" maxlength="15" autofocus
                     class="form-control input-block-level"
                     th:placeholder="#{signin.register.ownerid.prompt}"
                     data-ng-model="ctrl.registerUser.ownerId"/>
            </div>
          </div>
        </div>
        <div class="row row-spacer spacer-top" style="padding-right:15px">
          <input id="identifyButton" type="button" class="btn btn-primary pull-right"
                 data-th-value="#{signin.register.identify.button}"
                 data-ng-disabled="!ctrl.registerUser.ownerId"
                 data-ng-click="ctrl.registerIdentification()">
        </div>
      </div>

    <div id="verify" data-ng-show="ctrl.step == 'VERIFY'">
        <div class="row" style="padding-left:15px">
          <p class="lead lead-sm" th:text="#{signin.register.verify.title}">zzz Verify</p>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="firstName" class="form_label"
                   th:text="#{signin.register.firstname.label}">
              zzz Firstname
            </label>
            <input id="firstName" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.firstname.prompt}"
                   data-ng-model="ctrl.registerUser.firstName"
                   data-ng-change="ctrl.enableVerify()"/>
          </div>
          <div class="col-xs-6">
            <label for="lastName" class="form_label"
                   th:text="#{signin.register.lastname.label}">
              zzz Lastname
            </label>
            <input id="lastName" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.lastname.prompt}"
                   data-ng-model="ctrl.registerUser.lastName"
                   data-ng-change="ctrl.enableVerify()"/>
          </div>
        </div>

        <div class="row row-spacer">
          <div class="col-xs-6">
            <label for="phoneNumber" class="form_label"
                   th:text="#{signin.register.phone.label}">
              zzz Phone
            </label>
            <input id="phoneNumber" name="phoneNumber" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.phone.prompt}"
                   data-ng-model="ctrl.registerUser.phoneNumber"
                   data-ng-change="ctrl.enableVerify()"/>
          </div>
          <div class="col-xs-6">
            <label for="zipCode" class="form_label"
                   th:text="#{signin.register.zipcode.label}">
              zzz Zipcode
            </label>
            <input id="zipCode" name="zipCode" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.zipcode.prompt}"
                   data-ng-model="ctrl.registerUser.zipCode"
                   data-ng-change="ctrl.enableVerify()"/>
          </div>
        </div>
        <div class="row row-spacer spacer-top" style="padding-right:15px">
          <input id="verifyButton" type="button" class="btn btn-primary pull-right"
                 data-th-value="#{signin.register.verify.button}"
                 data-ng-disabled="!ctrl.enableVerify()"
                 data-ng-click="ctrl.registerVerify()">
        </div>
      </div>

    <div id="complete" data-ng-show="ctrl.step == 'COMPLETE'">
        <div class="row" style="padding-left:15px">
          <p class="lead lead-sm" th:text="#{signin.register.complete.title}">zzz Complete</p>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label for="emailAddress" class="form_label label-required"
                   th:text="#{signin.register.email.label}">
              zzz Email
            </label>
            <input id="emailAddress" name="emailAddress" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.email.prompt}"
                   data-ng-model="ctrl.registerUser.emailAddress"
                   data-ng-change="ctrl.enableComplete()"/>
          </div>
        </div>
        <div class="row row-spacer">
          <div class="col-xs-6">
            <label for="username" class="form_label label-required"
                   th:text="#{signin.register.username.label}">
              zzz Username
            </label>
            <input id="username" name="username" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.username.prompt}"
                   data-ng-model="ctrl.registerUser.username"
                   data-ng-change="ctrl.enableComplete()"/>
          </div>
        </div>
        <div class="row row-spacer">
          <div class="col-xs-6">
            <label for="password" class="form_label label-required"
                   th:text="#{signin.register.password.label}">
              zzz Password
            </label>
            <input id="password" name="password" type="password" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.password.prompt}"
                   data-ng-model="ctrl.registerUser.password"
                   data-ng-change="ctrl.enableComplete()"/>
          </div>
          <div class="col-xs-6">
            <label for="confirm" class="form_label label-required"
                   th:text="#{signin.register.confirm.label}">
              zzz Confirm
            </label>
            <input id="confirm" name="confirm" type="password" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.confirm.prompt}"
                   data-ng-model="ctrl.registerUser.confirm"
                   data-ng-change="ctrl.enableComplete()"/>
          </div>
        </div>

        <div class="row row-spacer spacer-top">
          <div class="col-xs-6">
            <label for="question1" class="form_label label-required"
                   th:text="#{signin.register.confirm.question1}">
              zzz Question 1
            </label>
            <select id="question1" name="question1" class="form-control"
                    data-ng-options="question.codeValueUID as question.display for question in ctrl.questions"
                    data-ng-model="ctrl.registerUser.question1"
                    data-ng-change="ctrl.enableComplete()">
            </select>
          </div>
          <div class="col-xs-6">
            <label for="answer1" class="form_label label-required"
                   th:text="#{signin.register.confirm.answer1}">
              zzz Answer 1
            </label>
            <input id="answer1" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.confirm.response}"
                   data-ng-model="ctrl.registerUser.answer1"
                   data-ng-change="ctrl.enableComplete()">
          </div>
        </div>

        <div class="row row-spacer spacer-top">
          <div class="col-xs-6">
            <label for="question2" class="form_label label-required"
                   th:text="#{signin.register.confirm.question2}">
              zzz Question 2
            </label>
            <select id="question2" name="question2" class="form-control"
                    data-ng-options="question.codeValueUID as question.display for question in ctrl.questions"
                    data-ng-model="ctrl.registerUser.question2"
                    data-ng-change="ctrl.enableComplete()">
            </select>
          </div>
          <div class="col-xs-6">
            <label for="answer2" class="form_label label-required"
                   th:text="#{signin.register.confirm.answer2}">
              zzz Answer 2
            </label>
            <input id="answer2" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.confirm.response}"
                   data-ng-model="ctrl.registerUser.answer2"
                   data-ng-change="ctrl.enableComplete()">
          </div>
        </div>

        <div class="row row-spacer spacer-top">
          <div class="col-xs-6">
            <label for="question3" class="form_label label-required"
                   th:text="#{signin.register.confirm.question3}">
              zzz Question 3
            </label>
            <select id="question3" name="question1" class="form-control"
                    data-ng-options="question.codeValueUID as question.display for question in ctrl.questions"
                    data-ng-model="ctrl.registerUser.question3"
                    data-ng-change="ctrl.enableComplete()">
            </select>
          </div>
          <div class="col-xs-6">
            <label for="answer3" class="form_label label-required"
                   th:text="#{signin.register.confirm.answer3}">
              zzz Answer 3
            </label>
            <input id="answer3" type="text" maxlength="50"
                   class="form-control input-block-level"
                   th:placeholder="#{signin.register.confirm.response}"
                   data-ng-model="ctrl.registerUser.answer3"
                   data-ng-change="ctrl.enableComplete()">
          </div>
        </div>

        <div class="row row-spacer spacer-top" style="padding-right:15px">
          <input id="completeButton" type="button" class="btn btn-primary pull-right"
                 data-th-value="#{signin.register.complete.button}"
                 data-ng-disabled="!ctrl.enableComplete()"
                 data-ng-click="ctrl.registerComplete()">
        </div>
      </div>

    <div id="finish" data-ng-show="ctrl.step == 'FINISH'">
        <div class="row" style="padding-left:15px">
          <p class="lead lead-sm" th:text="#{signin.register.finish.title}">zzz Identify</p>
        </div>
        <div class="row" style="padding-right:15px">
          <a id="signinButton" class="btn btn-primary"
                 data-th-text="#{signin.register.finish.signin}"
                 data-th-href="@{/auth/signin}">
            zzz Sign In
          </a>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript" th:src="@{/static/js/auth/registration.js}"></script>

</body>
</html>
