<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="primaryMember">
  <div class="row spacer">
    <div class="col-xs-2">
      <label th:text="#{com.cagst.swkroa.membership.member.title.label}">zzz Title</label>
      <select class="form-control"
              data-ng-model="membership.primaryMember.person.titleCD"
              data-ng-options="title.codeValueUID as title.display for title in titles">
        <option value="" th:text="#{com.cagst.swkroa.none}"></option>
      </select>
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.primaryFirstName.$invalid}">
      <label class="control-label label-required" th:text="#{com.cagst.swkroa.membership.member.firstname.label}">
        zzz First Name
      </label>
      <input type="text" class="form-control" name="primaryFirstName" maxlength="50"
             th:placeholder="#{com.cagst.swkroa.membership.member.firstname.prompt}"
             data-ng-model="membership.primaryMember.person.firstName"
             data-ng-required="membership.entityType.meaning == 'ENTITY_INDIVIDUAL'"
             data-ng-blur="generateOwnerId(membership.primaryMember)" />
    </div>
    <div class="col-xs-2">
      <label th:text="#{com.cagst.swkroa.membership.member.middlename.label}">zzz Middle Name</label>
      <input type="text" class="form-control" maxlength="50"
             th:placeholder="#{com.cagst.swkroa.membership.member.middlename.prompt}"
             data-ng-model="membership.primaryMember.person.middleName" />
    </div>
    <div class="col-xs-2" data-ng-class="{'has-error': membershipForm.primaryLastName.$invalid}">
      <label class="control-label label-required" th:text="#{com.cagst.swkroa.membership.member.lastname.label}">
        zzz Last Name
      </label>
      <input type="text" class="form-control" name="primaryLastName" maxlength="50"
             th:placeholder="#{com.cagst.swkroa.membership.member.lastname.prompt}"
             data-ng-model="membership.primaryMember.person.lastName"
             data-ng-required="membership.entityType.meaning == 'ENTITY_INDIVIDUAL'"
             data-ng-blur="generateOwnerId(membership.primaryMember)" />
    </div>
  </div>

  <div class="row spacer-top">
    <div class="col-xs-2">
      <label th:text="#{com.cagst.swkroa.membership.member.greeting.label}">zzz Greeting</label>
      <input type="text" class="form-control" maxlength="25"
             th:placeholder="#{com.cagst.swkroa.membership.member.greeting.prompt}"
             data-ng-model="membership.primaryMember.greeting" />
    </div>
    <div class="col-xs-2">
      <label th:text="#{com.cagst.swkroa.membership.member.incareof.label}">zzz In Care Of</label>
      <input type="text" class="form-control" maxlength="50"
             data-ng-model="membership.primaryMember.inCareOf" />
    </div>
    <div class="col-xs-2">
      <div>&nbsp;</div>
      <input id="primaryMailNewsletter" type="checkbox" data-ng-model="membership.primaryMember.mailNewsletter" />
      <label for="primaryMailNewsletter" th:text="#{com.cagst.swkroa.membership.member.newsletter.mail}">zzz Mail</label>
    </div>
    <div class="col-xs-2">
      <div>&nbsp;</div>
      <input id="primaryEmailNewsletter" type="checkbox" data-ng-model="membership.primaryMember.emailNewsletter" />
      <label for="primaryEmailNewsletter" th:text="#{com.cagst.swkroa.membership.member.newsletter.email}">zzz Email</label>
    </div>
  </div>
</div>

</html>