<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="listComments">
  <div class="spacer-top">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title" th:text="#{membership.comments}">zzz Comments</span>
        <span class="pull-right">
          <button type="button" class="btn btn-success btn-xs"
                  data-toggle="modal" data-target="#modifyComment"
                  data-ng-click="addComment()"
                  th:attr="uib-tooltip=#{com.cagst.swkroa.membership.comment.create}"
                  data-tooltip-placement="left">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
      <table class="table table-hover table-bordered">
        <tr data-ng-repeat="comment in membership.comments | orderBy : 'commentDate' : true"
            data-ng-show="comment.active">
          <td style="width:100px">{{comment.commentDate | date:'mediumDate'}}</td>
          <td class="comment-text">{{comment.commentText}}</td>
          <td style="width:75px">
            <div class="pull-right">
              <button type="button" class="btn btn-primary btn-xs"
                      data-toggle="modal" data-target="#modifyComment"
                      data-ng-click="selectComment(comment)"
                      th:attr="uib-tooltip=#{com.cagst.swkroa.membership.comment.update}"
                      data-tooltip-placement="left">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger btn-xs"
                      data-toggle="modal" data-target="#deleteComment"
                      data-ng-click="selectComment(comment)"
                      th:attr="uib-tooltip=#{com.cagst.swkroa.membership.comment.delete.title}"
                      data-tooltip-placement="left">
                <i class="fa fa-trash-o"></i>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

</html>