<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="listTransactions">
  <div class="spacer-top">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="panel-title" th:text="#{membership.transactions}">z_Transactions</span>
        <span class="pull-right">
          <button type="button" class="btn btn-success btn-xs"
                  data-toggle="modal" data-target="#modifyTransaction"
                  data-ng-click="ctrl.addTransaction()"
                  th:attr="uib-tooltip=#{membership.transaction.create}"
                  data-tooltip-placement="left">
            <i class="fa fa-plus"></i>
          </button>
        </span>
      </div>
      <div class="panel-body clear-padding">
      <table class="table table-hover">
        <thead>
          <tr>
            <th th:text="#{common.date}" style="width:100px">zzz Date</th>
            <th th:text="#{common.type}">zzz Type</th>
            <th th:text="#{common.desc}">zzz Desc</th>
            <th th:text="#{membership.transaction.amount}" style="width:100px; text-align:right">z_Amount</th>
            <th style="width:75px"></th>
          </tr>
        </thead>
        <tbody data-ng-repeat="transaction in ctrl.membership.transactions | orderBy: 'transactionDate': true"
               data-ng-show="transaction.active">
          <tr>
            <td style="width:125px">
              <div>
                <a href="#" onclick="toggleTransactionDetails(this)">
                  <i class="fa fa-caret-right"></i>
                </a>
                {{transaction.transactionDate | date:'mediumDate'}}
              </div>
            </td>
            <td>
              <span data-ng-show="transaction.transactionType == 'INVOICE'"
                    th:text="#{membership.transaction.invoice}">
              </span>
              <span data-ng-show="transaction.transactionType == 'PAYMENT'"
                    th:text="#{membership.transaction.payment}">
              </span>
              <div class="pull-right">
                <a class="btn btn-default btn-xs"
                   target="_blank"
                   data-ng-show="{{transaction.documentUID > 0}}"
                   data-ng-href="maintain/documents/{{transaction.documentUID}}">
                  <i class="fa fa-binoculars"></i>
                  <span th:text="#{maintain.documents.action.view}">z_View</span>
                </a>
              </div>
            </td>
            <td>{{transaction.transactionDescription}}</td>
            <td style="width:100px">
              <div class="pull-right">
                {{transaction.transactionAmount | currency}}
              </div>
            </td>
            <td style="width:75px">
              <div class="pull-right">
                <button type="button" class="btn btn-primary btn-xs"
                        data-ng-click="ctrl.editTransaction(transaction)"
                        data-ng-show="!transaction.inDeposit"
                        th:attr="uib-tooltip=#{membership.transaction.update}"
                        data-tooltip-placement="left">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs"
                        data-toggle="modal" data-target="#deleteTransaction"
                        data-ng-click="ctrl.deleteTransaction(transaction)"
                        data-ng-show="!transaction.inDeposit"
                        th:attr="uib-tooltip=#{membership.transaction.delete.title}"
                        data-tooltip-placement="left">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr class="details hide" data-ng-repeat="entry in transaction.transactionEntries">
            <td></td>
            <td colspan="2">{{entry.transactionEntryType.display}}</td>
            <td style="width:100px">
              <div class="pull-right">
                {{entry.transactionEntryAmount | currency}}
              </div>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

</html>