<!DOCTYPE html>
<html>
	<body>
		<div data-th-fragment="dlgDeleteComment">
			<div class="modal fade" id="deleteComment" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" data-th-text="#{com.cagst.swkroa.membership.comment.delete.title}">zzz Please confirm</h4>
						</div>
						<div class="modal-body">
							<p data-th-text="#{com.cagst.swkroa.membership.comment.delete.message}">zzz Delete this?</p>
							<p class="comment-text">{{comment.comment}}</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger"
							        data-ng-click="removeComment()"
							        data-th-text="#{com.cagst.swkroa.delete}">
								zzz Delete
							</button>
							<button type="button" class="btn btn-primary"
							        data-dismiss="modal"
							        data-th-text="#{com.cagst.swkroa.keep}">
								zzz Keep
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>