<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Modify Comment Dialog -->
<div th:fragment="dlgModifyComment">
  <div class="modal fade" id="modifyComment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"
              th:text="#{com.cagst.swkroa.membership.comment.update}"
              data-ng-show="commentIdx > -1">
            zzz Modify comment
          </h4>
          <h4 class="modal-title"
              th:text="#{com.cagst.swkroa.membership.comment.create}"
              data-ng-show="commentIdx == -1">
            zzz Create comment
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="commentDate" class="form-label" th:text="#{com.cagst.swkroa.membership.comment.modify.date}">
              zzz Date
            </label>

            <div class="input-group">
              <input id="commentDate" name="commentDate" type="text" class="form-control"
                     data-datepicker-popup="MM/dd/yyyy"
                     data-is-open="opened"
                     data-show-button-bar="false"
                     data-show-weeks="false"
                     data-ng-model="comment.commentDate" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-ng-click="open($event)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <label for="commentText" th:text="#{com.cagst.swkroa.membership.comment.modify.message}">zzz Comment</label>
          <textarea id="commentText" name="commentText" class="form-control" rows="3" data-ng-model="comment.commentText" autofocus></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success"
                  data-ng-click="saveComment()"
                  data-ng-show="commentIdx > -1"
                  th:text="#{com.cagst.swkroa.update}">
            zzz Update
          </button>
          <button type="button" class="btn btn-success"
                  data-ng-click="saveComment()"
                  data-ng-show="commentIdx == -1"
                  th:text="#{com.cagst.swkroa.create}">
            zzz Create
          </button>
          <button type="button" class="btn btn-default"
                  data-dismiss="modal"
                  th:text="#{com.cagst.swkroa.cancel}">
            zzz Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Comment Dialog -->
<div th:fragment="dlgDeleteComment">
  <div class="modal fade" id="deleteComment" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{com.cagst.swkroa.membership.comment.delete.title}">
            zzz Please confirm
          </h4>
        </div>
        <div class="modal-body">
          <p th:text="#{com.cagst.swkroa.membership.comment.delete.message}">zzz Delete this?</p>
          <blockquote>
            <p class="comment-text">{{comment.commentText}}</p>
          </blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  data-ng-click="removeComment()"
                  th:text="#{com.cagst.swkroa.delete}">
            zzz Delete
          </button>
          <button type="button" class="btn btn-primary"
                  data-dismiss="modal"
                  th:text="#{com.cagst.swkroa.keep}">
            zzz Keep
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
