<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Modify Comment Dialog -->
<div th:fragment="dlgModifyComment">
  <div class="modal fade" id="modifyComment">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"
              th:text="#{membership.comment.update}"
              data-ng-show="ctrl.commentIdx > -1">
            z_Modify
          </h4>
          <h4 class="modal-title"
              th:text="#{membership.comment.create}"
              data-ng-show="ctrl.commentIdx == -1">
            z_Create
          </h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="commentDate" class="form-label" th:text="#{membership.comment.modify.date}">z_Date</label>

            <div class="input-group">
              <input id="commentDate" name="commentDate" type="text" class="form-control"
                     data-uib-datepicker-popup="MM/dd/yyyy"
                     data-is-open="ctrl.isOpen.commentDate"
                     data-ng-click="ctrl.openCommentDate($event)"
                     data-ng-model="ctrl.comment.commentDate"
                     data-ng-required="true" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-ng-click="ctrl.openCommentDate($event)">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
          <label for="commentText" th:text="#{membership.comment.modify.message}">z_Comment</label>
          <textarea id="commentText" name="commentText" class="form-control" rows="3"
                    data-ng-model="ctrl.comment.commentText" autofocus></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success"
                  data-ng-click="ctrl.saveComment()"
                  data-ng-show="ctrl.commentIdx > -1"
                  th:text="#{common.update}">
            zzz Update
          </button>
          <button type="button" class="btn btn-success"
                  data-ng-click="ctrl.saveComment()"
                  data-ng-show="ctrl.commentIdx == -1"
                  th:text="#{common.create}">
            zzz Create
          </button>
          <button type="button" class="btn btn-default"
                  data-dismiss="modal"
                  th:text="#{common.cancel}">
            zzz Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Comment Dialog -->
<div th:fragment="dlgDeleteComment">
  <div class="modal fade" id="deleteComment" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{membership.comment.delete.title}">z_DeleteComment</h4>
        </div>
        <div class="modal-body">
          <p th:text="#{membership.comment.delete.message}">z_Delete?</p>
          <blockquote>
            <p class="comment-text">{{ctrl.comment.commentText}}</p>
          </blockquote>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  data-ng-click="ctrl.removeComment()"
                  th:text="#{common.delete}">
            z_Delete
          </button>
          <button type="button" class="btn btn-primary"
                  data-dismiss="modal"
                  th:text="#{common.keep}">
            z_Keep
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
