<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<!-- Modify Transaction Dialog -->
<div th:fragment="dlgModifyTransaction">
  <div class="modal fade" id="modifyTransaction">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"
              th:text="#{membership.transaction.update}"
              data-ng-show="ctrl.transactionIdx > -1">
            z_Modify
          </h4>
          <h4 class="modal-title"
              th:text="#{membership.transaction.create}"
              data-ng-show="ctrl.transactionIdx == -1">
            z_Create
          </h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-xs-4">
              <label for="transactionDate" class="form-label" th:text="#{membership.transaction.date}">
                z_Date
              </label>
              <div class="input-group">
                <input id="transactionDate" name="transactionDate" type="text" class="form-control"
                       data-uib-datepicker-popup="MM/dd/yyyy"
                       data-is-open="ctrl.isOpen.transactionDate"
                       data-ng-click="ctrl.openTransactionDate($event)"
                       data-ng-model="ctrl.transaction.transactionDate"
                       data-ng-required="true" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" data-ng-click="ctrl.openTransactionDate($event)">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </span>
              </div>
            </div>
            <div class="col-xs-4 col-xs-offset-4">
              <label for="referenceNumber" class="form-label" th:text="#{membership.transaction.refno}">
                z_RefNo
              </label>
              <input id="referenceNumber" type="text" class="form-control" maxlength="25"
                     data-ng-model="ctrl.transaction.referenceNumber"/>
            </div>
          </div>

          <div class="row spacer-top">
            <div class="col-xs-4"
                 data-ng-class="{'has-error': type.$invalid}">
              <label for="type" class="form-label" th:text="#{common.type}">z_Type</label>
              <select id="type" name="type" class="form-control"
                      data-ng-model="ctrl.transaction.transactionType"
                      data-ng-required="true"
                      data-ng-show="ctrl.transactionIdx == -1">
                <option value="INVOICE" th:text="#{membership.transaction.invoice}">
                  z_Invoice
                </option>
                <option value="PAYMENT" th:text="#{membership.transaction.payment}">
                  z_Payment
                </option>
              </select>
              <input name="type" class="form-control" readonly
                     th:value="#{membership.transaction.invoice}"
                     data-ng-show="ctrl.transactionIdx > -1 && ctrl.transaction.transactionType == 'INVOICE'" />
              <input name="type" class="form-control" readonly
                     th:value="#{membership.transaction.payment}"
                     data-ng-show="ctrl.transactionIdx > -1 && ctrl.transaction.transactionType == 'PAYMENT'" />
            </div>

            <div class="col-xs-4">
              <label for="desc" class="form-label" th:text="#{common.desc}">
                zzz Desc
              </label>
              <input id="desc" name="desc" type="text" class="form-control"
                     data-ng-model="ctrl.transaction.transactionDescription"
                     data-ng-required="true"/>
            </div>
            <div class="col-xs-4" data-ng-class="{'has-error': amount.$invalid}">
              <label for="amount" class="form-label" th:text="#{membership.transaction.amount}">
                z_Amount
              </label>
              <input id="amount" name="amount" type="text" class="form-control" readonly
                     data-ng-value="ctrl.transactionAmount | currency" />
            </div>
          </div>

          <table class="table table-condensed spacer-top">
            <thead>
            <tr>
              <th class="col-xs-1">
                <button type="button" class="btn btn-success btn-xs"
                        data-ng-click="ctrl.addTransactionEntry()"
                        data-tooltip-placement="top"
                        th:attr="uib-tooltip=#{membership.transaction.entry.create}">
                  <i class="fa fa-plus"></i>
                </button>
              </th>
              <th class="col-xs-4" th:text="#{common.type}">z_Type</th>
              <th class="col-xs-2" th:text="#{membership.transaction.amount}">z_Amount</th>
              <th class="col-xs-5" th:text="#{membership.transaction.invoice}"
                  data-ng-show="entry.relatedTransactionUID > 0 ||
                                (ctrl.transaction.transactionType == 'PAYMENT' &&
                                 entry.transactionEntryType.meaning != 'TRANS_SPECIAL_FUNDS')">
                z_Invoice
              </th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="entry in ctrl.transaction.transactionEntries"
                data-ng-show="entry.active">
              <td class="col-xs-1">
                <button type="button" class="btn btn-danger btn-xs"
                        data-ng-click="ctrl.deleteTransactionEntry(entry)"
                        data-tooltip-placement="top"
                        th:attr="uib-tooltip=#{membership.transaction.entry.delete.title}">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
              <td class="col-xs-4">
                <select class="form-control" name="entryType"
                        data-ng-required="true"
                        data-ng-model="entry.transactionEntryType"
                        data-ng-options="type.display for type in ctrl.entryTypes track by type.codeValueUID">
                </select>
              </td>
              <td class="col-xs-2">
                <input type="number" class="form-control"
                       data-ng-model="entry.transactionEntryAmount"
                       data-ng-change="ctrl.calculateTransactionAmount()" />
              </td>
              <td colspan="col-xs-5"
                  data-ng-show="entry.relatedTransactionUID > 0 ||
                               (ctrl.transaction.transactionType == 'PAYMENT' &&
                               entry.transactionEntryType.meaning != 'TRANS_SPECIAL_FUNDS')">
                <select class="form-control" name="relatedTransaction"
                        data-ng-model="entry.relatedTransaction"
                        data-ng-options="tran.transactionDescription for tran in ctrl.membership.transactions | filter:{transactionType:'INVOICE'} track by tran.transactionUID">
                </select>
              </td>
            </tr>
            </tbody>
          </table>

          <div class="row spacer-top">
            <div class="col-xs-12">
              <label for="memo" class="form-label" th:text="#{membership.transaction.memo}">z_Memo</label>
              <textarea id="memo" class="form-control" rows="3" data-ng-model="ctrl.transaction.memo"></textarea>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success"
                  data-ng-click="ctrl.saveTransaction()"
                  data-ng-show="ctrl.transactionIdx > -1"
                  th:text="#{common.update}">
            zzz Update
          </button>
          <button type="button" class="btn btn-success"
                  data-ng-click="ctrl.saveTransaction()"
                  data-ng-show="ctrl.transactionIdx == -1"
                  th:text="#{common.create}">
            zzz Create
          </button>
          <button type="button" class="btn btn-default"
                  data-dismiss="modal"
                  th:text="#{common.cancel}">
            zzz Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Delete Transaction Dialog -->
<div th:fragment="dlgDeleteTransaction">
  <div class="modal fade" id="deleteTransaction" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" th:text="#{membership.transaction.delete.title}">
            z_Delete
          </h4>
        </div>
        <div class="modal-body">
          <p th:text="#{membership.transaction.delete.message}">z_Delete?</p>

          <div>
            <span>{{transaction.transactionDate | date:'mediumDate'}}</span>
            <span>{{transaction.transactionType.display}}</span>
            <span>{{transaction.transactionAmount | currency}}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger"
                  data-ng-click="ctrl.removeTransaction()"
                  th:text="#{common.delete}">
            z_Delete
          </button>
          <button type="button" class="btn btn-primary"
                  data-dismiss="modal"
                  th:text="#{common.keep}">
            z_Keep
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

</html>
