<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <th:block th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title th:text="#{com.cagst.swkroa.title}">zzz SWKROA</title>

    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/static/css/swkroa.css}" rel="stylesheet" />

    <!-- JQuery Support -->
    <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js}"></script>

    <!-- Angular Support -->
    <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js}"></script>

    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js}"></script>
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/js/xeditable.min.js}"></script>

    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js}"></script>

  </th:block>

  <th:block sec:authorize="isAuthenticated()">
    <!--
      <meta http-equiv="refresh" content="<%=session.getMaxInactiveInterval() - 5%>; url=<cagst:static key='url.auth.timedout' />" />
    -->

    <link type="text/css" th:href="@{//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{//cdnjs.cloudflare.com/ajax/libs/angular-xeditable/0.1.9/css/xeditable.css}" rel="stylesheet" />

    <!-- JQuery Support -->
    <script type="text/javascript" th:src="@{//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js}"></script>

    <!-- Angular Support -->
    <script type="text/javascript" th:src="@{//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js}"></script>

    <script type="text/javascript" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/static/js/swkroa.js}"></script>
  </th:block>

  <th:block sec:authorize="!isAuthenticated()">
    <script type="text/javascript" th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
  </th:block>
</head>

<body>

</body>

</html>